{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
{#        <a href="{{ add }}" id="btn-add-banner" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>#}

        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-banner').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-banner">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>

                  <td class="text-left">
                    <a href="javascript:void(0);">{{ column_name }}</a>
                  </td>

                  <td class="text-left">
                    {% if sort == 'status_view' %}
                      <a href="{{ sort_view }}" class="{{ order|lower }}">{{ column_status }}</a>
                    {% else %}
                      <a href="{{ sort_view }}">{{ column_status }}</a>
                    {% endif%}
                  </td>

                  <td class="text-center">
                    {% if sort == 'date' %}
                      <a href="{{ sort_date }}" class="{{ order|lower }}">{{ column_date }}</a>
                    {% else %}
                      <a href="{{ sort_date }}">{{ column_date }}</a>
                    {% endif %}
                  </td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody id="banner-list">
                {% if questions %}
                {% for question in questions %}
                <tr {% if question.status_view == false %}style="background-color: rgba(190, 205, 255, 0.33)"{% endif %}>
                  <td class="text-center">
                    {% if question.question_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ question.question_id }}" checked="checked" />
                    {% else %}
                      <input type="checkbox" name="selected[]" value="{{ question.question_id }}" />
                    {% endif %}
                  </td>

                  <td class="text-left">{{ question.name }}</td>
                  <td class="text-left">{{ question.status }}</td>
                  <td class="text-center">{{ question.date }}</td>
                  <td class="text-right"><a href="{{ question.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary"><i class="fa fa-eye"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{#<script type="text/javascript">#}
{#  if (document.getElementById('banner-list').children[0].cells[0].children[0].getAttribute('type') == 'checkbox' && document.getElementById('banner-list').children[0].cells.length > 1) {#}
{#    document.getElementById('btn-add-banner').remove();#}
{#  }#}
{#</script>#}
{{ footer }}