{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
{#                <button type="submit" form="form-customer-group" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>#}
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>

            <h1>{{ heading_title }}</h1>

            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-eye"></i> {{ text_form }}</h3>
            </div>
            <div class="panel-body">
{#                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-customer-group" class="form-horizontal">#}
                    {% if question.name %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ entry_name }}</label>

                            <div class="col-sm-10">
    {#                            <div class="input-group">#}
    {#                                <span class="input-group-addon">#}
    {#                                <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>#}

    {#                                <input type="text" value="{{ customer_group_description[language.language_id] ? customer_group_description[language.language_id].name }}" placeholder="{{ entry_name }}" class="form-control" />#}
    {#                            </div>#}
                                <span>{{ question.name }}</span>
                            </div>
                        </div>
                    {% endif %}

                    {% if question.phone %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ entry_phone }}</label>

                            <div class="col-sm-10">
                                <span>{{ question.phone }}</span>
                            </div>
                        </div>
                    {% endif %}

                    {% if question.email %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ entry_email }}</label>

                            <div class="col-sm-10">
                                <span>{{ question.email }}</span>
                            </div>
                        </div>
                    {% endif %}

                    {% if question.date %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ entry_date }}</label>

                            <div class="col-sm-10">
                                <span>{{ question.date }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ entry_time }}</label>

                            <div class="col-sm-10">
                                <span>{{ question.time }}</span>
                            </div>
                        </div>
                    {% endif %}


                    {% if question.text %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ entry_text|trim }}</label>

                            <div class="col-sm-10">
                                <span>{{ question.text }}</span>
                            </div>
                        </div>
                    {% endif %}
{#                </form>#}
            </div>
        </div>
    </div>
</div>
{{ footer }}
