<div class="alert-add-product hide js-popup-form" id="js-alert-add-product">
    <div class="alert-add-product__cover">
        <button class="alert-add-product__btn-close" id="js-alert-add-product-btn-close">
            <i class="fas fa-times"></i>
        </button>

        <div class="alert-add-product__content">
            <div class="alert-add-product__section-top">
                <img src="/{{ theme_url_img_assets }}/specifications/icons/success-icon.svg" alt="success" title=""/>

                {% if add_product_title %}
                    <h6 class="alert-add-product__content-title title">{{ add_product_title }}</h6>
                {% endif %}

                {% if add_product_description %}
                    <span class="alert-add-product__content-description light-text">{{ add_product_description }}</span>
                {% endif %}
            </div>

            <div class="alert-add-product__section-bottom">
                {% if basket_href and end_btn_product %}
                    <a class="alert-add-product__btn alert-add-product__btn--unique btn btn-unique" href="{{ basket_href }}" id="js-btn-set-order">{{ end_btn_product }}</a>
                {% endif %}

                {% if continue_btn_product %}
                    <a class="alert-add-product__btn btn" href="javascript:void(0);" id="js-btn-continue-purchase">{{ continue_btn_product }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>