{{ header }}

<section class="complete-order">
  <div class="complete-order__container container">
    <div class="complete-order-head">
      <div class="complete-order-head__section-top bread-crumbs-head">
        <ul class="bread-crumbs">
          {% for crumb in breadcrumbs %}
            <li><a class="bread-crumbs__item" href="{{ crumb.href }}">{{ crumb.text }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="complete-order-head__section-bottom">
        {% if basket_href and basket_title %}
          <div class="complete-order-head__link-prev">
            <a href="{{ basket_href }}">{{ basket_title }}</a>

            <i class="zmdi zmdi-long-arrow-left"></i>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="complete-order-content">
      <div class="complete-order-content__section-left">
        {% if data_title %}
          <h2 class="complete-order-content__title title">{{ data_title }}</h2>
        {% endif %}

        <form class="complete-order-content__form" action="/" method="POST" id="form-complete-order">
          <div class="complete-order-content__form-section-head-grid">
            {% if input_placeholder_name %}
              <div class="form-input-box">
                <input class="form-input-box__field" type="text" name="name" placeholder="{{ input_placeholder_name }}" minlength="3" maxlength="25" required="required"/>
                <span>*</span>

                <i class="form-input-box__icon">
                  <img src="/{{ theme_url_img_assets }}/specifications/icons/form/person-icon.svg" alt="person"></i>
              </div>
            {% endif %}

            {% if input_placeholder_phone %}
              <div class="form-input-box">
                <input class="form-input-box__field" type="tel" name="phone" placeholder="{{ input_placeholder_phone }}" minlength="9" maxlength="15" required="required"/>
                <span>*</span>

                <i class="form-input-box__icon">
                  <img src="/{{ theme_url_img_assets }}/specifications/icons/form/phone-icon.svg" alt="phone" data-type="tell"></i>
              </div>
            {% endif %}

            {% if input_placeholder_last_name %}
              <div class="form-input-box">
                <input class="form-input-box__field" type="text" name="last-name" placeholder="{{ input_placeholder_last_name }}" minlength="3" maxlength="35"/>
                <span class="hide">*</span>

                <i class="form-input-box__icon">
                  <img src="/{{ theme_url_img_assets }}/specifications/icons/form/person-icon.svg" alt="person"></i>
              </div>
            {% endif %}

            {% if input_placeholder_email %}
              <div class="form-input-box">
                <input class="form-input-box__field" type="email" name="email" placeholder="{{ input_placeholder_email }}" minlength="10" maxlength="75"/>
                <span class="hide">*</span>

                <i class="form-input-box__icon">
                  <img src="/{{ theme_url_img_assets }}/specifications/icons/form/postcard-icon.svg" alt="postcard"></i>
              </div>
            {% endif %}
          </div>

          <div class="complete-order-content__form-section-head-center">
            {% if delivery_title %}
              <h3 class="complete-order-content__title title">{{ delivery_title }}</h3>
            {% endif %}

            {% if delivery_method_title and input_placeholder_delivery %}
              <div class="form-input-row small">
                <input type="radio" name="type-delivery" value="courier" id="complete-form-radio-courier"/>
                <label class="form-input-row__title title hide form-input-label js-complete-order-label" for="complete-form-radio-courier">{{ delivery_method_title }}</label>

                <input class="form-input-row__field" type="text" name="courier-address" placeholder="{{ input_placeholder_delivery }}" minlength="10" maxlength="100"/>
                <span>*</span>

                <i class="form-input-row__icon">
                  <img src="/{{ theme_url_img_assets }}/specifications/icons/form/courier-icon.svg" alt="courier"></i>
              </div>
            {% endif %}

            {% if delivery_method2_title and input_placeholder_delivery2 %}
              <div class="form-input-row">
                <input type="radio" name="type-delivery" value="np" checked="checked" id="complete-form-radio-np"/>
                <label class="form-input-row__title title form-input-label js-complete-order-label" for="complete-form-radio-np">{{ delivery_method2_title }}</label>

                <input class="form-input-row__field" type="text" name="np-address" placeholder="{{ input_placeholder_delivery2 }}" minlength="10" maxlength="100" required="required"/>
                <span>*</span>

                <i class="form-input-row__icon">
                  <img src="/{{ theme_url_img_assets }}/specifications/icons/form/courier-icon.svg" alt="courier"></i>
              </div>
            {% endif %}
          </div>

          <div class="complete-order-content__form-section-head-bottom">
            <div class="complete-order-content__form-box-title">
              {% if comments_title %}
                <h4 class="complete-order-content__title title">{{ comments_title }}</h4>
              {% endif %}

              {% if no_required_title %}
                <span class="complete-order-content__description">({{ no_required_title }})</span>
              {% endif %}
            </div>

            {% if input_placeholder_comments %}
              <div class="form-input-box">
                <textarea class="form-input-box__field form-input-box__field--textarea" name="comments" placeholder="{{ input_placeholder_comments }}" minlength="10" maxlength="250" form="form-complete-order"></textarea>

                <i class="form-input-box__icon">
                  <img src="/{{ theme_url_img_assets }}/specifications/icons/form/message-icon.svg" alt="message"></i>
              </div>
            {% endif %}
          </div>
        </form>
      </div>

      <div class="complete-order-content__section-right">
        <div class="complete-order-content__order-pay">
          {% if payment_methods_title %}
            <h6 class="complete-order-content__title title">{{ payment_methods_title }}</h6>
          {% endif %}

          {% if payment_method_1_title %}
            <div class="form-input-row">
              <input type="radio" name="type-pay" value="pay-delivery" form="form-complete-order" checked="checked" id="complete-form-radio-delivery"/>

              <label class="form-input-row__title title form-input-label js-complete-order-label" for="complete-form-radio-delivery">{{ payment_method_1_title }}</label>
            </div>
          {% endif %}

          {% if payment_method_2_title and input_placeholder_card_number and input_placeholder_card_date %}
            <div class="form-input-row small">
              <input type="radio" name="type-pay" value="pay-card" form="form-complete-order" id="complete-form-radio-card"/>
              <label class="form-input-row__title title hide form-input-label js-complete-order-label" for="complete-form-radio-card">{{ payment_method_2_title }}</label>

              <input class="form-input-row__field" type="text" name="card-number" placeholder="{{ input_placeholder_card_number }}" form="form-complete-order" minlength="13" maxlength="23"/>
              <span>*</span>

              <i class="form-input-row__icon">
                <img src="/{{ theme_url_img_assets }}/specifications/icons/form/card-icon.svg" alt="card">
              </i>

              <div class="form-input-row form-input-row--pay-grid">
                <div class="form-input-row__item">
                  <input class="form-input-row__field" type="text" name="card-date" placeholder="{{ input_placeholder_card_date }}" pattern="(1[0-2]|0[1-9])\/(1[5-9]|2\d)" data-valid-example="05/18" form="form-complete-order" minlength="5" maxlength="7"/>
                  <span>*</span>

                  <i class="zmdi zmdi-calendar-check"></i>
                </div>

                <div class="form-input-row__item">
                  <span>/</span>
                </div>

                {% if input_placeholder_card_cvv %}
                  <div class="form-input-row__item">
                    <input class="form-input-row__field" type="password" name="card-cvv" placeholder="{{ input_placeholder_card_cvv }}" form="form-complete-order" minlength="3" maxlength="3"/>
                    <span>*</span>

                    <i class="zmdi zmdi-calendar-check"></i>
                  </div>
                {% endif %}
              </div>

              {% if input_title_card_initials %}
                <div class="form-input-row form-input-row--pay-grid">
                  <div class="form-input-row__item--full">
                    <input class="form-input-row__field full" type="text" name="card-person-name" {% if input_placeholder_card_initials %}title="{{ input_placeholder_card_initials }}"{% endif %} placeholder="{{ input_title_card_initials }}" form="form-complete-order" minlength="6" maxlength="32"/>
                    <span>*</span>

                    <i class="zmdi zmdi-calendar-check"></i>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}

          {% if recTokenText and recTokenInfo and payment_token_title %}
            <div class="form-input-row small authorized">
              <input type="radio" name="type-pay" value="recToken" form="form-complete-order" id="complete-form-radio-rec-token"/>

              <label class="form-input-row__title title hide form-input-label js-complete-order-label" for="complete-form-radio-rec-token">{{ payment_token_title }}</label>

              <div class="complete-order-content__rec-token">
                <p>{{ recTokenText }}</p>

                <span>{{ recTokenInfo }}</span>
              </div>
            </div>
          {% endif %}

          {% if qr_image and more_methods_payment_title %}
            <div class="form-input-row small">
              <input type="radio" name="type-pay" value="pay-delivery" form="form-complete-order" id="complete-form-radio-qr" required="required">

              <label class="form-input-row__title title form-input-label js-complete-order-label hide" for="complete-form-radio-qr">{{ more_methods_payment_title }}</label>

              <div class="complete-order-content__qr-code">
                <img src="{{ qr_image  }}"/>

                {% if payment_fields and payment_or_text and widget_payment_title %}
                  <span>{{ payment_or_text }}</span>

                  {{  payment_fields }}

                  <button type="button" id="open-pay-widget" class="btn btn-small">{{ widget_payment_title }}</button>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>

        <div class="complete-order-content__order-products">
          <div class="complete-order-content__section-head">
              {% if order_title %}
                  <h4 class="complete-order-content__title title">{{ order_title }}</h4>
              {% endif %}

              <div class="complete-order-content__section-btns">
                  <button class="complete-order-content__btn-controll-prev" id="js-complete-order-product-btn-prev">
                      <i class="zmdi zmdi-chevron-up"></i>
                  </button>

                  <button class="complete-order-content__btn-controll-next" id="js-complete-order-product-btn-next">
                      <i class="zmdi zmdi-chevron-down"></i>
                  </button>
              </div>
          </div>

          <div class="complete-order-content__products" id="js-complete-order-products-content">
              {% if added_list_products %}
                  <ul class="complete-order-products-list" id="js-complete-order-products-list">
                      {% for product in added_list_products %}
                          <li class="complete-order-products-list__item">
                              <div class="complete-order-products-list__section-left">
                                  {% if product.image and product.name and product.model %}
                                      <img class="complete-order-products-list__item-img basket-img" src="{{ product.image }}" alt="{{ product.name }} {{ product.model }}" title="{{ product.name }}"/>
                                  {% endif %}

                                  <div class="complete-order-products-list__item-info">
                                      {% if product.name and product.model %}
                                          <h5 class="complete-order-products-list__item-title title">{{ product.name }} {{ product.model }}</h5>
                                      {% endif %}

                                      {% if product.price %}
                                          <span class="complete-order-products-list__item-price js-basket-product-price" data-price="{{ product.price }}">{{ product.price }}₴</span>
                                      {% endif %}
                                  </div>
                              </div>

                              <div class="complete-order-products-list__section-right">
                                  {% if product.count %}
                                      <span class="complete-order-products-list__item-count js-complete-order-product-count">x{{ product.count }}</span>
                                  {% endif %}
                              </div>
                          </li>
                      {% endfor %}
                  </ul>
              {% endif %}
          </div>

          <div class="complete-order-content__section-bottom">
              {% if basket_href and edit_order_title %}
                  <a class="complete-order-content__link link-dashed" href="{{ basket_href }}">{{ edit_order_title }}</a>
              {% endif %}
          </div>
        </div>

        <div class="complete-order-content__order-confirm">
          <div class="complete-order-confirm-section-pay">
            <div class="complete-order-confirm-section-pay__form">
              {% if sum_all_title %}
                <div class="form-pay">
                  <span class="form-pay__title">{{ sum_all_title }}</span>

                  <div class="form-pay__price">
                    <span class="form-pay__price-numbers" id="js-form-pay-price">368</span>

                    <i class="form-pay__price-valute">₴</i>
                  </div>
                </div>
              {% endif %}

              {% if submit_btn %}
                <button class="complete-order-confirm-section-pay__form-btn-submit btn" type="submit" form="form-complete-order">{{ submit_btn }}</button>
              {% endif %}

              {% if submit_btn_description %}
                <span class="complete-order-confirm-section-pay__description light-text">{{ submit_btn_description }}</span>
              {% endif %}
            </div>

            {% if custom_agreement_btn and custom_agreement_link %}
              <a class="complete-order-confirm-section-pay__link link-dashed" href="{{ custom_agreement_link }}" target="_blank">{{ custom_agreement_btn }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ footer }}
