{#<footer>#}
{#  <div class="container">#}
{#    <div class="row">#}
{#      {% if informations %}#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_information }}</h5>#}
{#        <ul class="list-unstyled">#}
{#         {% for information in informations %}#}
{#          <li><a href="{{ information.href }}">{{ information.title }}</a></li>#}
{#          {% endfor %}#}
{#        </ul>#}
{#      </div>#}
{#      {% endif %}#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_service }}</h5>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ contact }}">{{ text_contact }}</a></li>#}
{#          <li><a href="{{ return }}">{{ text_return }}</a></li>#}
{#          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>#}
{#        </ul>#}
{#      </div>#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_extra }}</h5>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>#}
{#          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>#}
{#          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>#}
{#          <li><a href="{{ special }}">{{ text_special }}</a></li>#}
{#        </ul>#}
{#      </div>#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_account }}</h5>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ account }}">{{ text_account }}</a></li>#}
{#          <li><a href="{{ order }}">{{ text_order }}</a></li>#}
{#          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>#}
{#          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <hr>#}
{#    <p>{{ powered }}</p>#}
{#  </div>#}
{#</footer>#}
{#{% for script in scripts %}#}
{#<script src="{{ script }}" type="text/javascript"></script>#}
{#{% endfor %}#}
{#<!--#}
{#OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.#}
{#Please donate via PayPal to donate@opencart.com#}
{#//-->#}
{#</body></html>#}

{% if cookie_text and cookie_text_terms_use and cookie_text_terms_use_link and cookie_text_data_policy and cookie_text_data_policy_link %}
  <section class="alert-cookie" id="alert-cookie">
    <div class="alert-cookie__container container">
      <span class="alert-cookie__text">{{ cookie_text }} <a href="{{ cookie_text_terms_use_link }}">{{ cookie_text_terms_use }}</a> {{ cookie_text_and }} <a href="{{ cookie_text_data_policy_link }}">{{ cookie_text_data_policy }}</a></span>

      <a class="alert-cookie__btn" id="js-alert-cookie-btn" href="#">Ok</a>
    </div>
  </section>
{% endif %}

<footer class="footer" id="footer">
  <div class="footer__container container">
    <div class="footer__section-top">
      <nav>
        <ul class="footer-menu">
          {% if footer_menu_left %}
            <li class="footer-menu__section-left">
              {% for link_level in footer_menu_left %}
                <ul class="footer-menu__sublist">
                  {% for link in link_level %}
                    <li><a class="footer-menu__item" href="{{ link.href }}">{{ link.name }}</a></li>
                  {% endfor %}
                </ul>
              {% endfor %}
            </li>
          {% endif %}

          {% if footer_menu_right %}
            <li class="footer-menu__section-right">
              {% for link_level in footer_menu_right %}
                <ul class="footer-menu__sublist">
                  {% for link in link_level %}
                    <li><a class="footer-menu__item" href="{{ link.href }}">{{ link.name }}</a></li>
                  {% endfor %}
                </ul>
              {% endfor %}
            </li>
          {% endif %}
        </ul>
      </nav>

      <div class="footer-reseived-info">
        <span class="footer-reseived-info__top">{{ payment_title }}</span>

        <div class="footer-reseived-info__content">
          <img src="{{ theme_url_img }}/footer/icons/icon-visa.svg" alt="Visa">

          <img src="{{ theme_url_img }}/footer/icons/icon-mastercard.svg" alt="MasterCard">
        </div>

        <div class="footer-reseived-info__bottom">
          <span>{{ payment_description }}</span>
        </div>
      </div>

      <div class="footer-questions">
        <ul class="footer-questions__socials-list">
          <li>
            <a class="footer-questions__socials-list-item" href="#" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>

          <li>
            <a class="footer-questions__socials-list-item" href="#" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>

          <li>
            <a class="footer-questions__socials-list-item" href="#" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
        </ul>

        <h6 class="footer-questions__title title">{{ question_title }}</h6>

        <span class="footer-questions__description">{{ question_description }}</span>

        <button class="footer-questions__btn js-open-popup-form" id="js-open-popup-form-question">
          {{ question_button }}
        </button>
      </div>
    </div>
    <div class="footer__section-bottom">
      <ul class="footer-bottom-list">
        <li><span class="footer-bottom-list__item">{{ copyright_left }}</span></li>

        <li><span class="footer-bottom-list__item">Created by<strong>Starfall Studio</strong></span></li>
      </ul>

      <ul class="footer-bottom-list">
        <li><a class="footer-bottom-list__item" href="{{ policy_left_link }}" target="_blank">{{ policy_left }}</a></li>

        <li><a class="footer-bottom-list__item" href="{{ policy_right_link }}" target="_blank">{{ policy_right }}</a></li>
      </ul>
    </div>
  </div>
</footer>
<div class="header-submenu-popup">
  <button class="header-submenu-popup__btn-close" id="js-submenu-popup-btn-close"><i class="fas fa-times"></i>
  </button>
  <div class="header-submenu-popup__content" id="js-submenu-popup-btn-close">
    <ul class="header-submenu"></ul>
  </div>
</div>
<section class="popup hide" id="js-popup">
  <div class="popup__cover">
    <div class="popup__cover-content">
      <button class="popup__btn-close js-popup-btn-close">
        <i class="fas fa-times"></i>
      </button>

      {% if form_question %}
        {{ form_question }}
      {% endif %}

      {% if form_review %}
        {{ form_review }}
      {% endif %}

      {% if add_product %}
        {{ add_product }}
      {% endif %}
    </div>
  </div>
</section>
{% for script in scripts %}
  <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body>
</html>