<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html lang="{{ enabled_language|lower }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="{{ enabled_language|lower }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="{{ enabled_language|lower }}" style="overflow-y: hidden;">
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>

  {% if description %}
    <meta name="description" content="{{ description }}" />
  {% endif %}
{#  {% if keywords %}#}
{#    <meta name="keywords" content="{{ keywords }}" />#}
{#  {% endif %}#}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if languages_abbr %}
    {% for language in languages_abbr %}
      {% if language.abbr and language.link and language.status > 0 %}
        <link rel="alternate" hreflang="{{ language.abbr|lower }}" href="{{ language.link }}" />
      {% endif %}
    {% endfor %}
  {% endif %}

  {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
  {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}" />
  {% endfor %}
  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}

  <meta name="author" content="Denis Marshavka">
</head>

<body style="overflow-y: hidden;" {% if developer %}developer="{{ developer }}"{% endif %}>
<header class="header" id="header">
  <div class="header-section-top">
    <div class="header-section-top__container">
      <ul class="header-head">
        {% if languages_abbr and current_language_code %}
          <li class="header-head__item--language js-header-language-list">
            {% for language in languages_abbr %}
              {% if language.abbr != null and language.abbr != '' and language.status > 0 %}
                <button class="header-head__language-item {% if language.code == current_language_code %} header-head__language-item--active{% endif %}" value="{{ language.code }}" {% if disabled_change_language %}disabled="disabled"{% endif %}>{{ language.abbr }}</button>
              {% endif %}
            {% endfor %}
          </li>
        {% endif %}

        <li>
          {% if logo %}
            <a href="{{ home }}" class="header-head__item logo">
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/>
            </a>
          {% else %}
            <a class="header-head__item logo" href="{{ home }}">{{ name }}</a>
          {% endif %}
        </li>
        <li>
          <form action="#" method="post" id="js-search-mobile">
            <div class="header-head__form-input">
              <input class="header-search" maxlength="35" minlength="4" type="text" name="header-search-input" required>

              <i class="fas fa-times btn-clear-search-input"></i>
            </div>

            <button>
              <i>
                <img src="{{ theme_url_img_assets }}/specifications/icons/search-icon.svg" alt="search">
              </i>
            </button>
          </form>
        </li>
      </ul>

      <ul class="header-section-top__nav">
        <li class="header-section-top__nav-item">
          <i>
            <img src="{{ theme_url_img_assets }}/specifications/icons/phone-icon.svg" alt="phone">
          </i>

          <a href="tel:+{{ telephone }}">{{ telephone }}</a>
        </li>

        {% if languages_abbr and current_language_code %}
          <li class="header-section-top__nav-item header-section-top__nav-item--language" id="js-header-language-list">
            {% for language in languages_abbr %}
              {% if language.abbr != null and language.abbr != '' and language.status > 0 %}
                <button class="header-section-top__nav-language-item {% if language.code == current_language_code %} header-section-top__nav-language-item--active{% endif %}" value="{{ language.code }}" {% if disabled_change_language %}disabled="disabled"{% endif %}>{{ language.abbr }}</button>
              {% endif %}
            {% endfor %}
          </li>
        {% endif %}

        <li class="header-section-top__nav-item">
          <form action="#" method="post" id="js-search-desktop">
            <div class="header-section-top__nav-item-form-input">
              <input type="text" maxlength="35" minlength="4" name="header-search-input" id="header-search" required>
              <i class="fas fa-times" id="btn-clear-search-input"></i>
            </div>

            <button>
              <i>
                <img src="{{ theme_url_img_assets }}/specifications/icons/search-icon.svg" alt="search">
              </i>
            </button>
          </form>
        </li>

        <li class="header-section-top__nav-item">
          <ul class="head-nav-navigation">
            <li class="head-nav-navigation__item head-nav-navigation__item--selected checked-position-top">
              <a href="#">
                <i class="far fa-heart"></i>

                <i class="fas fa-heart"></i>

                <span></span>
              </a>
            </li>

            {% if basket %}
              <li class="head-nav-navigation__item head-nav-navigation__item--package">
                <a href="{{ basket }}">
                  <img src="{{ theme_url_img_assets }}/specifications/icons/package-icon.svg" alt="package">

                  <span data-products="2"></span>
                </a>
              </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <nav>
    <div class="header__container header__nav-container">
      <div class="header__section-top-left swiper-container" id="js-header-menu">
        <ul class="header-menu swiper-wrapper">
          {% if header_links %}
          {% set link_row = 0 %}
            {% for link in header_links %}
              {% set link_row = link_row + 1 %}

              {% if link.submenu_status %}
                <li class="header-menu__item {% if link_row == 1 %}header-menu__item--active{% else %} {% endif %} header-menu__item--dropdown swiper-slide">
                  <a href="javascript:void(0)">{{ link.name }}</a>

                  {% if submenu_links %}
                    <div class="header-menu__item-submenu-list">
                      <ul class="header-submenu">
                        {% for submenu_level in submenu %}
                          <li>
                            <ul class="header-submenu__list">
                              {% for link in submenu_level %}
                                <li><a href="{{ link.href }}">{{ link.name }}</a></li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% endfor %}
                      </ul>

                    {% if rand_product %}
                      <div class="header-menu__item-submenu-product">
                        <div class="product-item product-item--present">
                          {% if rand_product_is_new %}
                            <div class="product-item__new"><span>New</span></div>
                          {% endif %}

                          <div class="product-item" {% if rand_product.product_id %} data-product-id="{{ rand_product.product_id }}{% endif %}">
                            {% if rand_product.image and theme_url_img %}
                              <img class="product-item__img" src="{{ theme_url_img }}{{ rand_product.image }}"
                                   alt="{% if rand_product.name and product.model %} {{ rand_product.name }} {{ rand_product.model }} {% elseif rand_product.name %} {{ rand_product.name }} {% elseif rand_product.model %} {{ rand_product.model }} {% else %} продукт із '7salabim'{% endif %}"
                                   title="{% if rand_product.name and rand_product.model %} {{ rand_product.name }} {{ rand_product.model }} {% elseif rand_product.name %} {{ rand_product.name }} {% elseif rand_product.model %} {{ rand_product.model }} {% else %} продукт із '7salabim'{% endif %}"/>
                            {% endif %}

                            <div class="product-item__price">
                              {% if rand_product.price and rand_product.special %}
                                <div class="price">
                                  <div class="price__number">{{rand_product.special|trim}}</div>

                                  <strike>{{rand_product.price|trim}}</strike>
                                </div>
                              {% else %}
                                <div class="price">
                                  <div class="price__number">{{rand_product.price|trim}}</div>
                                </div>
                              {% endif %}
                            </div>

                            {% if rand_product.name and rand_product.model and rand_product.href %}
                              <a href="{{ rand_product.href }}" class="product-item__title">
                                {{ rand_product.name }}
                                <br/>

                                <strong>{{ rand_product.model }}</strong>
                              </a>
                            {% elseif rand_product.name %}
                              <a href="{{ rand_product.href }}" class="product-item__title">
                                {{ rand_product.name }}
                              </a>
                            {% elseif rand_product.model %}
                              <a href="{{ rand_product.href }}" class="product-item__title">
                                <strong>{{ rand_product.model }}</strong>
                              </a>
                            {% endif %}

                            {% if rand_product.sku %}
                              <span class="product-item__code">{{ rand_product.sku }}</span>
                            {% endif %}

                            <button class="product-item__btn-buy btn js-product-btn-buy">В корзину</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                  {% endif %}
                </li>
              {% else %}
                <li class="header-menu__item {% if link_row == 1 %}header-menu__item--active {% else %} {% endif %} swiper-slide">
                  <a href="{{ link.href }}">{{ link.name }}</a>
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        </ul>
      </div>
      <div class="header__section-top-right">
        <ul class="header__section-top-right-list">
          <li class="header__section-top-right-list-item header__section-top-right-list-item--selected checked-position-top">
            <a href="#">
              <i class="far fa-heart"></i>

              <i class="fas fa-heart"></i>

              <span></span>
            </a>
          </li>

          {% if basket %}
            <li class="header__section-top-right-list-item header__section-top-right-list-item--package">
              <a href="{{ basket }}">
                <img src="{{ theme_url_img_assets }}/specifications/icons/package-icon.svg" alt="package">

                <span data-products="2"></span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <button class="header-menu-btn">
      <i class="fa fa-angle-right"></i>
    </button>
  </nav>
  {% if stocks_slider %}
    {{ stocks_slider }}
  {% endif %}

  <div class="header__section-bottom {% if filter_link_list %}header__section-bottom--filter-enabled{% endif %}">
    {% if filter_link_list %}
      {{ filter_link_list }}
    {% endif %}
  </div>
</header>

<div class="universal-preloader" id="preloader">
  <div class="universal-preloader__logo">
    <img src="{{ theme_url_img_assets }}/specifications/preloader.svg" alt="7salabim preloader" title="Loading...">
  </div>
</div>