{{ header }}

{% if slider_sale %}
  {{ slider_sale }}
{% endif %}

{% if slider_popular %}
  {{ slider_popular }}
{% endif %}

{% if slider_new %}
  {{ slider_new }}
{% endif %}

{% if panel_priority %}
  {{ panel_priority }}
{% endif %}

{% if slider_articles %}
  {{ slider_articles }}
{% endif %}

{#<section class="articles" id="articles">#}
{#  <div class="articles__container container">#}
{#    <div class="articles__section-head">#}
{#      <h4 class="articles__title title">Наши последние статьи</h4>#}

{#      <div class="articles__slider-btns">#}
{#        <a class="articles__slider-btn-prev btn-round" href="javascript:void(0);" id="js-slider-articles-btn-prev">#}
{#          <i class="fa fa-angle-left"></i>#}
{#        </a>#}

{#        <a class="articles__slider-btn-next btn-round" href="javascript:void(0);" id="js-slider-articles-btn-next">#}
{#          <i class="fa fa-angle-right"></i>#}
{#        </a>#}
{#      </div>#}
{#    </div>#}

{#    <div class="articles__section-content">#}
{#      <ul class="articles__section-content-slider" id="js-slider-articles">#}
{#        <li>#}
{#          <article class="articles__item article-item">#}
{#            <div class="articles__item-wrapper article-item__wrapper">#}
{#              <div class="articles__item-img article-item__wrapper-img" style="background: url({{ theme_url_img }}/articles/article-image-1.png) no-repeat center center / cover"></div>#}

{#              <div class="articles__item-content article-item__content"><h5#}
{#                        class="articles__item-content-title title article-item__content-title">Что подарить#}
{#                  начальнику?</h5>#}
{#                <p>С другой стороны начало повседневной работы по формированию позиции обеспечивает#}
{#                  широкому кругу (специалистов) участие в формировании...</p>#}
{#                <footer class="articles__item-content-footer article-item__content-footer">#}
{#                  <div class="articles__item-content-footer-date article-item__content-footer-date"><i#}
{#                            style="background: url({{ theme_url_img }}/articles/icons/date-icon.svg) no-repeat center center / cover"></i>#}
{#                    <time datetime="2019.04.20">20.04.2019</time>#}
{#                  </div>#}
{#                  <div class="articles__item-content-footer-views article-item__content-footer-views">#}
{#                    <i style="background: url({{ theme_url_img }}/articles/icons/views-icon.svg) no-repeat center center / cover"></i><span>1034</span>#}
{#                  </div>#}
{#                </footer>#}
{#              </div>#}
{#            </div>#}
{#          </article>#}
{#        </li>#}
{#        <li>#}
{#          <article class="articles__item article-item">#}
{#            <div class="articles__item-wrapper article-item__wrapper">#}
{#              <div class="articles__item-img article-item__wrapper-img"#}
{#                   style="background: url({{ theme_url_img }}/articles/article-image-2.png) no-repeat center center / cover"></div>#}
{#              <div class="articles__item-content article-item__content"><h5#}
{#                        class="articles__item-content-title title article-item__content-title">Топ 10#}
{#                  подарков на рождество</h5>#}
{#                <p>С другой стороны начало повседневной работы по формированию позиции обеспечивает#}
{#                  широкому кругу (специалистов) участие в формировании...</p>#}
{#                <footer class="articles__item-content-footer article-item__content-footer">#}
{#                  <div class="articles__item-content-footer-date article-item__content-footer-date"><i#}
{#                            style="background: url({{ theme_url_img }}/articles/icons/date-icon.svg) no-repeat center center / cover"></i>#}
{#                    <time datetime="2019.04.20">20.04.2019</time>#}
{#                  </div>#}
{#                  <div class="articles__item-content-footer-views article-item__content-footer-views">#}
{#                    <i style="background: url({{ theme_url_img }}/articles/icons/views-icon.svg) no-repeat center center / cover"></i><span>1022</span>#}
{#                  </div>#}
{#                </footer>#}
{#              </div>#}
{#            </div>#}
{#          </article>#}
{#        </li>#}
{#        <li>#}
{#          <article class="articles__item article-item">#}
{#            <div class="articles__item-wrapper article-item__wrapper">#}
{#              <div class="articles__item-img article-item__wrapper-img"#}
{#                   style="background: url({{ theme_url_img }}/articles/article-image-3.png) no-repeat center center / cover"></div>#}
{#              <div class="articles__item-content article-item__content"><h5#}
{#                        class="articles__item-content-title title article-item__content-title">Декор для#}
{#                  дома приносящий удачу!</h5>#}
{#                <p>С другой стороны начало повседневной работы по формированию позиции обеспечивает#}
{#                  широкому кругу (специалистов) участие в формировании...</p>#}
{#                <footer class="articles__item-content-footer article-item__content-footer">#}
{#                  <div class="articles__item-content-footer-date article-item__content-footer-date"><i#}
{#                            style="background: url({{ theme_url_img }}/articles/icons/date-icon.svg) no-repeat center center / cover"></i>#}
{#                    <time datetime="2019.04.20">20.04.2019</time>#}
{#                  </div>#}
{#                  <div class="articles__item-content-footer-views article-item__content-footer-views">#}
{#                    <i style="background: url({{ theme_url_img }}/articles/icons/views-icon.svg) no-repeat center center / cover"></i><span>1000</span>#}
{#                  </div>#}
{#                </footer>#}
{#              </div>#}
{#            </div>#}
{#          </article>#}
{#        </li>#}
{#        <li>#}
{#          <article class="articles__item article-item">#}
{#            <div class="articles__item-wrapper article-item__wrapper">#}
{#              <div class="articles__item-img article-item__wrapper-img"#}
{#                   style="background: url({{ theme_url_img }}/articles/article-image-2.png) no-repeat center center / cover"></div>#}
{#              <div class="articles__item-content article-item__content"><h5#}
{#                        class="articles__item-content-title title article-item__content-title">Как приручить#}
{#                  дракона, в дом. условиях?</h5>#}
{#                <p>С другой стороны начало повседневной работы по формированию позиции обеспечивает#}
{#                  широкому кругу (специалистов) участие в формировании...</p>#}
{#                <footer class="articles__item-content-footer article-item__content-footer">#}
{#                  <div class="articles__item-content-footer-date article-item__content-footer-date"><i#}
{#                            style="background: url({{ theme_url_img }}/articles/icons/date-icon.svg) no-repeat center center / cover"></i>#}
{#                    <time datetime="2019.04.20">20.04.2019</time>#}
{#                  </div>#}
{#                  <div class="articles__item-content-footer-views article-item__content-footer-views">#}
{#                    <i style="background: url({{ theme_url_img }}/articles/icons/views-icon.svg) no-repeat center center / cover"></i><span>1034</span>#}
{#                  </div>#}
{#                </footer>#}
{#              </div>#}
{#            </div>#}
{#          </article>#}
{#        </li>#}
{#        <li>#}
{#          <article class="articles__item article-item">#}
{#            <div class="articles__item-wrapper article-item__wrapper">#}
{#              <div class="articles__item-img article-item__wrapper-img"#}
{#                   style="background: url({{ theme_url_img }}/articles/article-image-3.png) no-repeat center center / cover"></div>#}
{#              <div class="articles__item-content article-item__content"><h5#}
{#                        class="articles__item-content-title title article-item__content-title">Топ 10#}
{#                  подарков на днюху</h5>#}
{#                <p>С другой стороны начало повседневной работы по формированию позиции обеспечивает#}
{#                  широкому кругу (специалистов) участие в формировании...</p>#}
{#                <footer class="articles__item-content-footer article-item__content-footer">#}
{#                  <div class="articles__item-content-footer-date article-item__content-footer-date"><i#}
{#                            style="background: url({{ theme_url_img }}/articles/icons/date-icon.svg) no-repeat center center / cover"></i>#}
{#                    <time datetime="2019.04.20">20.04.2019</time>#}
{#                  </div>#}
{#                  <div class="articles__item-content-footer-views article-item__content-footer-views">#}
{#                    <i style="background: url({{ theme_url_img }}/articles/icons/views-icon.svg) no-repeat center center / cover"></i><span>1022</span>#}
{#                  </div>#}
{#                </footer>#}
{#              </div>#}
{#            </div>#}
{#          </article>#}
{#        </li>#}
{#        <li>#}
{#          <article class="articles__item article-item">#}
{#            <div class="articles__item-wrapper article-item__wrapper">#}
{#              <div class="articles__item-img article-item__wrapper-img"#}
{#                   style="background: url({{ theme_url_img }}/articles/article-image-1.png) no-repeat center center / cover"></div>#}
{#              <div class="articles__item-content article-item__content"><h5#}
{#                        class="articles__item-content-title title article-item__content-title">Декор для#}
{#                  дома приносящий деньги!</h5>#}
{#                <p>С другой стороны начало повседневной работы по формированию позиции обеспечивает#}
{#                  широкому кругу (специалистов) участие в формировании...</p>#}
{#                <footer class="articles__item-content-footer article-item__content-footer">#}
{#                  <div class="articles__item-content-footer-date article-item__content-footer-date"><i#}
{#                            style="background: url({{ theme_url_img }}/articles/icons/date-icon.svg) no-repeat center center / cover"></i>#}
{#                    <time datetime="2019.04.20">20.04.2019</time>#}
{#                  </div>#}
{#                  <div class="articles__item-content-footer-views article-item__content-footer-views">#}
{#                    <i style="background: url({{ theme_url_img }}/articles/icons/views-icon.svg) no-repeat center center / cover"></i><span>1000</span>#}
{#                  </div>#}
{#                </footer>#}
{#              </div>#}
{#            </div>#}
{#          </article>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
{#    <a class="articles__btn btn" href="/articles.html">Перейти к блогу</a></div>#}
{#</section>#}

{{ footer }}