{% if banners %}
    <div class="header__slider">
        <div class="header__slider-container">
            <a class="header__slider-btn-prev btn-round js-header-slider-btn-prev" href="javascript:void(0);">
                <i class="fa fa-angle-left"></i>
            </a>

            <div class="header__section-top">
                <div class="header__slider-content">
                    <div class="header__slider-content-mobile-controlers"><a
                                class="header__slider-btn-prev btn-round js-header-slider-btn-prev"
                                href="javascript:void(0);"><i class="fa fa-angle-left"></i></a><a
                                class="header__slider-btn-next btn-round js-header-slider-btn-next"
                                href="javascript:void(0);"><i class="fa fa-angle-right"></i></a></div>

                    <ul class="header__slider-content-list" id="js-header-sliders">
                        {% for banner in banners %}
                            <li class="header__slider-content-list-item">
                                <img class="header__slider-images" src="{{ theme_url_img }}{{ banner.image }}" alt="img1" title=""/>

                                <div class="header__slider-front">
                                    {% if banner.title %}
                                        <h3 class="title">{{ banner.title }}</h3>
                                    {% endif %}

                                    {% if banner.description %}
                                        <p>{{ banner.description }}</p>
                                    {% endif %}

                                    {% if banner.price %}
                                        <div class="header__slider-content-list-item-price">
                                            <div class="header__slider-content-list-item-price-title">{{ price_title }}</div>
                                                {% if banner.price and banner.old_price %}
                                                    <div class="price">
                                                        <div class="price__number">{{banner.price|trim}}</div>

                                                        <strike>{{banner.old_price|trim}}</strike>
                                                    </div>
                                                {% else %}
                                                    <div class="price">
                                                        <div class="price__number">{{banner.price|trim}}</div>
                                                    </div>
                                                {% endif %}
                                        </div>
                                    {% endif %}

                                    <div>
                                        {% if banner.link and URI %}
                                            <a class="header__slider-content-list-item-btn js-slider-item-buy btn" href="{{ URI }}?route={{ banner.link }}">{{ order_button }}</a>
                                        {% endif %}

                                        <ul class="header__slider-content-list-item-socials">
                                            {% if banner.link_inst %}
                                                <li><a href="{{ banner.link_inst }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                            {% endif %}

                                            {% if banner.link_fac %}
                                                <li><a href="{{ banner.link_fac  }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                            {% endif %}

                                            {% if banner.link_ytb %}
                                                <li><a href="{{ banner.link_ytb }}" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <a class="header__slider-btn-next btn-round js-header-slider-btn-next" href="javascript:void(0);">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
{% endif %}