{{ header }}

<section class="basket" id="thanks">
<div class="basket__container container">
  <div class="basket__section-head bread-crumbs-head">
    <ul class="bread-crumbs">
      {% for crumb in breadcrumbs %}
        <li><a class="bread-crumbs__item" href="{{ crumb.href }}">{{ crumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="basket__section-content">
    <div class="alert-info alert-info--thanks alert-info">
      <div class="alert-info__text">
        <img class="alert-info__img" src="/{{ theme_url_img_assets }}/specifications/icons/thanks-icon.svg" alt="" role="presentation"/>

        {% if thanks_title %}
          <p class="alert-info__title title">{{ thanks_title }}</p>
        {% endif %}

        {% if thanks_description %}
          <span class="alert-info__description">{{ thanks_description }}</span>
        {% endif %}
      </div>
    </div>

    <div class="basket__information-order">
      <div class="basket__information-order-section-left">
        {% if order_title %}
          <span class="basket__information-order-section-left-title">{{ order_title }}</span>
        {% endif %}

        <div class="basket__information-order-section-left-numbers">
            <span>{% if order_id %}{{ order_id }}{% else %}1{% endif %}</span>
        </div>
      </div>

      <div class="basket__information-order-section-right">
        {% if today %}
          <span>{{ today }}</span>
        {% endif %}
      </div>
    </div>

    <div class="basket-params basket-params--tnanks">
      <div class="basket-params__section-left">
        {% if photo_title %}
          <span>{{ photo_title }}</span>
        {% endif %}

        {% if name_title %}
          <span>{{ name_title }}</span>
        {% endif %}
      </div>

      <div class="basket-params__section-right">
        {% if count_title %}
          <span>{{ count_title }}</span>
        {% endif %}

        {% if price_title %}
          <span>{{ price_title }}</span>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="basket__section-bottom">
    <ul class="basket-products-list basket-products-list--thanks">
      {% if products_list %}
        {% for product in products_list %}
          <li class="basket-products-list__item">
            <div class="basket-products-list__item-section-left">
                {% if product.image and product.name and product.model %}
                  <img class="basket-products-list__item-img basket-img" src="{{ product.image }}" alt="{{ product.name }} {{ product.model }}" title="{{ product.name }}"/>
                {% endif %}

              <div class="basket-products-list__item-description">
                {% if product.name and product.model %}
                  <span class="basket-products-list__item-name title">{{ product.name }} {{ product.model }}</span>
                {% endif %}

                {% if product.count %}
                  <div class="product-count-calculator">
                      <span class="product-count-calculator__count-number js-count-calculator-indicator">{{ product.count }}</span>
                  </div>
                {% endif %}
              </div>
            </div>

            {% if product.price %}
              <div class="basket-products-list__item-section-right">
                <span class="basket-products-list__item-price js-basket-product-price" data-price="{% if product.sale_price %}{{ product.sale_price }}{% else %}{{ product.price }}{% endif %}">{% if product.sale_price %}{{ product.sale_price }}{% else %}{{ product.price }}{% endif %}₴</span>
              </div>
            {% endif %}
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>

  <div class="basket-section-pay">
    <div class="form-pay">
      {% if all_sum_price_title %}
        <span class="form-pay__title">{{ all_sum_price_title }}</span>
      {% endif %}

      <div class="form-pay__price">
        <span class="form-pay__price-numbers" id="js-form-pay-price">0</span>
        <i class="form-pay__price-valute">₴</i>
      </div>
    </div>

    {% if continue and continue_btn %}
      <a class="basket-section-pay__link link-dashed" href="{{ continue }}">{{ continue_btn }}</a>
    {% endif %}
  </div>
</div>
</section>

{{ footer }}