{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-pp-express" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
        <div class="panel-body">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-wayforpay" class="form-horizontal">
                <div class="form-group required">
                    <label class="col-sm-4 control-label">{{ entry_merchant }}</label>

                    <div class="col-sm-8">
                        <input type="text" name="payment_wayforpay_merchant" value="{{ payment_wayforpay_merchant }}" class="form-control"/>
                        {% if error_merchant %} 
                            <div class="text-danger">{{ error_merchant }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-sm-4 control-label">{{ entry_secretkey }}</label>
                    <div class="col-sm-8">
                        <input type="text" name="payment_wayforpay_secretkey" value="{{ payment_wayforpay_secretkey }}" class="form-control"/>
                        {% if error_secretkey %}
                            <div class="text-danger">{{ error_secretkey }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ entry_currency }}</label>

                    <div class="col-sm-8">
                        {% if payment_wayforpay_currency == "" %}
                        <input type="text" name="payment_wayforpay_currency" value="UAH" class="form-control"/>
                        {% else %}
                        <input type="text" name="payment_wayforpay_currency" value="{{ payment_wayforpay_currency }}" class="form-control"/>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-sm-4 control-label">{{ entry_returnUrl }}</label>
                    <div class="col-sm-8">
                        <input type="text" name="payment_wayforpay_returnUrl" value="{{ payment_wayforpay_returnUrl }}" class="form-control"/>
                        {% if error_returnUrl %} 
                            <div class="text-danger">{{ error_returnUrl }}</div>
                        {% endif %} 
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-sm-4 control-label">{{ entry_serviceUrl }}</label>

                    <div class="col-sm-8">
                        <input type="text" name="payment_wayforpay_serviceUrl" value="{{ payment_wayforpay_serviceUrl }}" class="form-control"/>
                        {% if error_serviceUrl %} 
                            <div class="text-danger">{{ error_serviceUrl }}</div>
                        {% endif %} 
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ entry_language }}</label>
                    <div class="col-sm-8">
                        {% if payment_wayforpay_language == "" %}
                            <input type="text" name="payment_wayforpay_language" value="RU" class="form-control"/>
                        {% else %}
                            <input type="text" name="payment_wayforpay_language" value="{{ payment_wayforpay_language }}" class="form-control"/>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ entry_order_status }}</label>
                    <div class="col-sm-8">
                        <select name="payment_wayforpay_order_status_id" class="form-control">
                            {% for order_status in order_statuses %}
                                {% if order_status.order_status_id == payment_wayforpay_order_status_id %}
                                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                {% else %}
                                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ entry_geo_zone }}</label>
                    <div class="col-sm-8">
                        <select name="payment_wayforpay_geo_zone_id" class="form-control">
                            <option value="0">{{ text_all_zones }}</option>
                            {% for geo_zone in geo_zones %}
                                {% if geo_zone.geo_zone_id == wayforpay_geo_zone_id %}
                                    <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                                {% else %}
                                    <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ entry_status }}</label>
                    <div class="col-sm-8">
                        <select name="payment_wayforpay_status" class="form-control">
                            {% if  payment_wayforpay_status == 0 %}
                                <option value="1">{{ text_enabled }}</option>
                                <option value="0" selected="selected">{{ text_disabled }}</option>
                            {% else %}
                                <option value="1"  selected="selected">{{ text_enabled }}</option>
                                <option value="0">{{ text_disabled }}</option>
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ entry_sort_order }}</label>
                    <div class="col-sm-4">
                        <input type="text" name="payment_wayforpay_sort_order" value="{{ payment_wayforpay_sort_order }}" class="form-control"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{ footer }}