<section class="articles" id="articles">
    {% if slider %}
        <div class="articles__container container">
            <div class="articles__section-head">
                <h4 class="articles__title title">{{ title_slider_articles }}</h4>

                <div class="articles__slider-btns">
                    <a class="articles__slider-btn-prev btn-round" href="javascript:void(0);" id="js-slider-articles-btn-prev">
                        <i class="fa fa-angle-left"></i>
                    </a>

                    <a class="articles__slider-btn-next btn-round" href="javascript:void(0);" id="js-slider-articles-btn-next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>

            <div class="articles__section-content">
                <ul class="articles__section-content-slider" id="js-slider-articles">
                    {% for article in slider %}
                        <li>
                            {% if article.link %}
                                <a class="articles__item article-item" href="{{ article.link }}">
                                    <span class="articles__item-wrapper article-item__wrapper">
                                        {% if article.image %}
                                            <span class="articles__item-img article-item__wrapper-img" style="background: url({{ url_img }}{{ article.image }}) no-repeat center center / cover"></span>
                                        {% endif %}

                                        <span class="articles__item-content article-item__content">
                                            {% if article.title %}
                                                <h5 class="articles__item-content-title title article-item__content-title">{{ article.title }}</h5>
                                            {% endif %}

                                            {% if article.text %}
                                                <p>{{ article.text }}</p>
                                            {% endif %}

                                            <footer class="articles__item-content-footer article-item__content-footer">
                                                {% if article.date %}
                                                    <div class="articles__item-content-footer-date article-item__content-footer-date">
                                                        <i style="background: url({{ theme_url_img }}/articles/icons/date-icon.svg) no-repeat center center / cover"></i>

                                                        <span>{{ article.date }}</span>
                                                    </div>
                                                {% endif %}

                                                {% if article.viewed %}
                                                    <div class="articles__item-content-footer-views article-item__content-footer-views">
                                                        <i style="background: url({{ theme_url_img }}/articles/icons/views-icon.svg) no-repeat center center / cover"></i>

                                                        <span>{{ article.viewed }}</span>
                                                    </div>
                                                {% endif %}
                                            </footer>
                                        </span>
                                    </span>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% if btn_to_blog and url_to_blog %}
                <a class="articles__btn btn" href="{{ url_to_blog }}">{{ title_to_blog }}</a>
            {% endif %}
        </div>
    {% endif %}
</section>