<form id="wayforpay_submit" name="wayforpay_submit" action="{{ action }}" method="POST">
    {% for key, value in fields %}
        {% if key != 'apiVersion' and key != 'transactionType' and key != 'productName' and key != 'productPrice' and key != 'productCount' and key != 'clientEmail' and key != 'clientPhone'  %}
            <input type="hidden" name="{{ key }}" value="{{ value }}"/>
        {% endif %}
    {% endfor %}
    {% for value in prod_nam %}
        <input type="hidden" name="productName[]" value="{{ value }}"/>
    {% endfor %}
    {% for value in prod_price %}
        <input type="hidden" name="productPrice[]" value="{{ value }}"/>
    {% endfor %}
    {% for value in prod_count %}
        <input type="hidden" name="productCount[]" value="{{ value }}"/>
    {% endfor %}
</form>

{#<div class="buttons">#}
{#    <div class="pull-right">#}
{#        <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" />#}
{#    </div>#}
{#</div>#}

{#<script type="text/javascript"><!--#}
{#    $('#button-confirm').bind('click', function() {#}
{#        $.ajax({#}
{#            type: 'GET',#}
{#            url: 'index.php?route=extension/payment/wayforpay/confirm',#}
{#            success: function () {#}
{#                $('#wayforpay_submit').submit();#}
{#            }#}
{#        });#}

{#        return false;#}
{#    });#}
{#    //--></script>#}
