<ul class="header-btns-list">
    {% if filter_links %}
        {% for filter in filter_links %}
            {% if filter.name|trim != '' and filter.filter_href|trim != '' and filter.filter_image|trim != '' %}
                <li class="header-btns-list__item">
                    <a href="{{ filter.filter_href }}">
                        {{ filter.name }}

                        <i>
                            <img src="{{ theme_url_img }}{{ filter.filter_image  }}" alt="{{ filter.name }}">
                        </i>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>