<section class="priority" id="priority">
    <div class="priority__container container">
        <h4 class="title title">{{ panel_priority_title }}</h4>

        {% if panel_priorities %}
            <ul class="priority-list">
                {% for item in panel_priorities %}
                    {% if item.priority_title and item.priority_icon %}
                    <li class="priority-list__item">
                        <img class="priority-list__item-img" src="{{ theme_url_img }}{{ item.priority_icon }}" alt="{{ item.priority_title }}" title="{{ item.priority_title }}"/>

                        <h5 class="priority-list__item-name">
                            {{ item.priority_title }}
                        </h5>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>