<form class="popup-form popup-form--questions hide js-popup-form" action="/">
    <h6 class="popup-form__title title">{{ form_title }}</h6>

    <span class="popup-form__description light-text">{{ form_description }}</span>

    <div class="form-input-box">
        <input class="form-input-box__field" type="text" name="name" placeholder="{{ placeholder_name }}" minlength="3" maxlength="25" required="required"/>

        <span>*</span>

        <i class="form-input-box__icon">
            <img src="/{{ theme_url_img }}/specifications/icons/form/person-icon.svg" alt="person">
        </i>
    </div>

    <div class="form-input-box">
        <input class="form-input-box__field" type="tel" name="phone" placeholder="{{ placeholder_phone }}" minlength="6" maxlength="15"/>

        <i class="form-input-box__icon">
            <img src="/{{ theme_url_img }}/specifications/icons/form/phone-icon.svg" alt="phone" data-type="tell">
        </i>
    </div>

    <div class="form-input-box">
        <input class="form-input-box__field" type="email" name="email" placeholder="{{ placeholder_email }}" minlength="10" maxlength="75"/>

        <i class="form-input-box__icon">
            <img src="/{{ theme_url_img }}/specifications/icons/form/postcard-icon.svg" alt="postcard">
        </i>
    </div>

    <div class="form-input-box">
        <textarea class="form-input-box__field form-input-box__field--textarea" name="question" placeholder="{{ placeholder_question }}" minlength="10" maxlength="250" required="required"></textarea>

        <i class="form-input-box__icon">
            <img src="/{{ theme_url_img }}/specifications/icons/form/message-icon.svg" alt="message">
        </i>

        <span>*</span>
    </div>

    <div class="form-input-box security">
        <input class="form-input-box__field" type="text" name="security" placeholder="Security" minlength="10" maxlength="75"/>
    </div>

    <button class="popup-form__btn btn">{{ text_form_submit_button }}</button>
</form>