{% if products %}
    <div class="products-line" id="products-buying">
        <div class="products-line__section-head">
            <h4 class="products-line__title title">{{ products_buying_title }}</h4>

            <div class="products-line__slider-btns">
                <a class="products-line__slider-btn-prev btn-round" href="javascript:void(0);" id="js-slider-products-buying-btn-prev">
                    <i class="fa fa-angle-left"></i>
                </a>

                <a class="products-line__slider-btn-next btn-round" href="javascript:void(0);" id="js-slider-products-buying-btn-next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>

        <div class="products-line__section-content">
            <ul class="products-line-section-content-slider" id="js-slider-products-buying">
                {% for product in products %}
                    <li class="product-item product-item--popular product-item" {% if product.product_id %} data-product-id="{{ product.product_id }}{% endif %}">
                        <a class="product-item__btn-like btn-like js-product-btn-like" href="javascript:void(0);">
                            <i class="far fa-heart"></i>
                            <i class="fas fa-heart"></i>
                        </a>

                        <figure class="small-alert-info">{{ selected_title }}<span></span></figure>

                        {% if product.image and theme_url_img and product.href %}
                            <a href="{{ product.href }}">
                                <img class="product-item__img" src="{{ theme_url_img }}{{ product.image }}"
                                 alt="{% if product.name and product.model %} {{ product.name }} {{ product.model }} {% elseif product.name %} {{ product.name }} {% elseif product.model %} {{ product.model }} {% else %} продукт із '7salabim'{% endif %}"
                                 title="{% if product.name and product.model %} {{ product.name }} {{ product.model }} {% elseif product.name %} {{ product.name }} {% elseif product.model %} {{ product.model }} {% else %} продукт із '7salabim'{% endif %}"/>
                            </a>
                        {% endif %}

                        <div class="product-item__price">
                            {% if product.price and product.special %}
                                <div class="price">
                                    <div class="price__number">{{product.special|trim}}</div>

                                    <strike>{{product.price|trim}}</strike>
                                </div>
                            {% else %}
                                <div class="price">
                                    <div class="price__number">{{product.price|trim}}</div>
                                </div>
                            {% endif %}
                        </div>

                        {% if product.name and product.model and product.href %}
                            <a href="{{ product.href }}" class="product-item__title">
                                {{ product.name }}
                                <br>

                                <strong>{{ product.model }}</strong>
                            </a>
                        {% elseif product.name %}
                            <a href="{{ product.href }}" class="product-item__title">
                                {{ product.name }}
                            </a>
                        {% elseif product.model %}
                            <a href="{{ product.href }}" class="product-item__title">
                                <strong>{{ product.model }}</strong>
                            </a>
                        {% endif %}

                        <button class="product-item__btn-buy btn js-product-btn-buy" {% if product.quantity <= 0 %}disabled="disabled" title="{{ not_available }}"{% endif %}>В корзину</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}