{% if products_response %}
    <section class="products-sale" id="products-sale">
        <div class="products-sale__container container">
            <div class="products-sale__section-head">
                <h4 class="products-sale__title title">{{ products_sale_title }}</h4>
    
                <div class="products-sale__slider-btns">
                    <a class="products-sale__slider-btn-prev btn-round" href="javascript:void(0);" id="js-slider-products-sale-btn-prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
    
                    <a class="products-sale__slider-btn-next btn-round" href="javascript:void(0);" id="js-slider-products-sale-btn-next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
    
            <div class="products-sale__section-content">
                <ul class="products-sale-section-content-slider" id="js-slider-products-sale">
                    {% if products_response.lg %}
                        {% for product in products_response.lg %}
                            <li class="products-sale-section-content-slider__slide">
                                <div class="products-item">
                                    <div class="products-item__section-left">
                                        {% if product.0 %}
                                            <div class="product-item" {% if product.0.product_id %} data-product-id="{{ product.0.product_id }}{% endif %}">
                                                <a class="product-item__btn-like btn-like js-product-btn-like" href="javascript:void(0);">
                                                    <i class="far fa-heart"></i>
                                                    <i class="fas fa-heart"></i>
                                                </a>
                
                                                <figure class="small-alert-info">{{ selected_title }}<span></span></figure>
                
                                                {% if product.0.image and theme_url_img and product.0.href %}
                                                    <a href="{{ product.0.href }}">
                                                        <img class="product-item__img" src="{{ theme_url_img }}{{ product.0.image }}"
                                                             alt="{% if product.0.name and product.0.model %} {{ product.0.name }} {{ product.0.model }} {% elseif product.0.name %} {{ product.0.name }} {% elseif product.0.model %} {{ product.0.model }} {% else %} продукт із '7salabim'{% endif %}"
                                                             title="{% if product.0.name and product.0.model %} {{ product.0.name }} {{ product.0.model }} {% elseif product.0.name %} {{ product.0.name }} {% elseif product.0.model %} {{ product.0.model }} {% else %} продукт із '7salabim'{% endif %}"/>
                                                    </a>
                                                {% endif %}
    
                                                <div class="product-item__price">
                                                    {% if product.0.price and product.0.special %}
                                                        <div class="price">
                                                            <div class="price__number">{{product.0.special|trim}}</div>

                                                            <strike>{{product.0.price|trim}}</strike>
                                                        </div>
                                                    {% else %}
                                                        <div class="price">
                                                            <div class="price__number">{{product.0.price|trim}}</div>
                                                        </div>
                                                    {% endif %}
                                                </div>
    
                                                {% if product.0.name and product.0.model and product.0.href %}
                                                    <a href="{{ product.0.href }}" class="product-item__title">
                                                        {{ product.0.name }}
                                                        <br>
    
                                                        <strong>{{ product.0.model }}</strong>
                                                    </a>
                                                {% elseif product.0.name %}
                                                    <a href="{{ product.0.href }}" class="product-item__title">
                                                        {{ product.0.name }}
                                                    </a>
                                                {% elseif product.0.model %}
                                                    <a href="{{ product.0.href }}" class="product-item__title">
                                                        <strong>{{ product.0.model }}</strong>
                                                    </a>
                                                {% endif %}
                
                                                <button class="product-item__btn-buy btn js-product-btn-buy" {% if product.0.quantity <= 0 %}disabled="disabled" title="{{ not_available }}"{% endif %}>В корзину</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="products-item__section-right">
                                        <div class="products-item__section-right-head">
                                            {% if product.1 %}
                                                <div class="product-item" {% if product.1.product_id %} data-product-id="{{ product.1.product_id }}{% endif %}">
                                                    <a class="product-item__btn-like btn-like js-product-btn-like" href="javascript:void(0);">
                                                        <i class="far fa-heart"></i>
                                                        <i class="fas fa-heart"></i>
                                                    </a>
                                                    
                                                    <figure class="small-alert-info">{{ selected_title }}<span></span></figure>
                                                    
                                                    {% if product.1.image and theme_url_img and product.1.href %}
                                                        <a href="{{ product.1.href }}">
                                                            <img class="product-item__img" src="{{ theme_url_img }}{{ product.1.image }}"
                                                                 alt="{% if product.1.name and product.1.model %} {{ product.1.name }} {{ product.1.model }} {% elseif product.1.name %} {{ product.1.name }} {% elseif product.1.model %} {{ product.1.model }} {% else %} продукт із '7salabim'{% endif %}"
                                                                 title="{% if product.1.name and product.1.model %} {{ product.1.name }} {{ product.1.model }} {% elseif product.1.name %} {{ product.1.name }} {% elseif product.1.model %} {{ product.1.model }} {% else %} продукт із '7salabim'{% endif %}"/>
                                                        </a>
                                                    {% endif %}

                                                    <div class="product-item__price">
                                                        {% if product.1.price and product.1.special %}
                                                            <div class="price">
                                                                <div class="price__number">{{product.1.special|trim}}</div>

                                                                <strike>{{product.1.price|trim}}</strike>
                                                            </div>
                                                        {% else %}
                                                            <div class="price">
                                                                <div class="price__number">{{product.1.price|trim}}</div>
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                    {% if product.1.name and product.1.model and product.1.href %}
                                                        <a href="{{ product.1.href }}" class="product-item__title">
                                                            {{ product.1.name }}
                                                            <br>

                                                            <strong>{{ product.1.model }}</strong>
                                                        </a>
                                                    {% elseif product.1.name %}
                                                        <a href="{{ product.1.href }}" class="product-item__title">
                                                            {{ product.1.name }}
                                                        </a>
                                                    {% elseif product.1.model %}
                                                        <a href="{{ product.1.href }}" class="product-item__title">
                                                            <strong>{{ product.1.model }}</strong>
                                                        </a>
                                                    {% endif %}
                                                    
                                                    <button class="product-item__btn-buy btn js-product-btn-buy" {% if product.1.quantity <= 0 %}disabled="disabled" title="{{ not_available }}"{% endif %}>В корзину</button>
                                                </div>
                                            {% endif %}
                                            
                                            {% if product.2 %}
                                                <div class="product-item" {% if product.2.product_id %} data-product-id="{{ product.2.product_id }}{% endif %}">
                                                    <a class="product-item__btn-like btn-like js-product-btn-like" href="javascript:void(0);">
                                                        <i class="far fa-heart"></i>
                                                        <i class="fas fa-heart"></i>
                                                    </a>
                                                    
                                                    <figure class="small-alert-info">{{ selected_title }}<span></span></figure>
                                                    
                                                    {% if product.2.image and theme_url_img and product.2.href %}
                                                        <a href="{{ product.2.href }}">
                                                            <img class="product-item__img" src="{{ theme_url_img }}{{ product.2.image }}"
                                                                 alt="{% if product.2.name and product.2.model %} {{ product.2.name }} {{ product.2.model }} {% elseif product.2.name %} {{ product.2.name }} {% elseif product.2.model %} {{ product.2.model }} {% else %} продукт із '7salabim'{% endif %}"
                                                                 title="{% if product.2.name and product.2.model %} {{ product.2.name }} {{ product.2.model }} {% elseif product.2.name %} {{ product.2.name }} {% elseif product.2.model %} {{ product.2.model }} {% else %} продукт із '7salabim'{% endif %}"/>
                                                        </a>
                                                    {% endif %}

                                                    <div class="product-item__price">
                                                        {% if product.2.price and product.2.special %}
                                                            <div class="price">
                                                                <div class="price__number">{{product.2.special|trim}}</div>

                                                                <strike>{{product.2.price|trim}}</strike>
                                                            </div>
                                                        {% else %}
                                                            <div class="price">
                                                                <div class="price__number">{{product.2.price|trim}}</div>
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                    {% if product.2.name and product.2.model and product.2.href %}
                                                        <a href="{{ product.2.href }}" class="product-item__title">
                                                            {{ product.2.name }}
                                                            <br>

                                                            <strong>{{ product.2.model }}</strong>
                                                        </a>
                                                    {% elseif product.2.name %}
                                                        <a href="{{ product.2.href }}" class="product-item__title">
                                                            {{ product.2.name }}
                                                        </a>
                                                    {% elseif product.2.model %}
                                                        <a href="{{ product.2.href }}" class="product-item__title">
                                                            <strong>{{ product.2.model }}</strong>
                                                        </a>
                                                    {% endif %}
                                                    
                                                    <button class="product-item__btn-buy btn js-product-btn-buy" {% if product.2.quantity <= 0 %}disabled="disabled" title="{{ not_available }}"{% endif %}>В корзину</button>
                                                </div>
                                            </div>
                                        {% endif %}
                                        
                                        <div class="products-item__section-right-footer">
                                            {% if product.3 %}
                                                <div class="product-item" {% if product.3.product_id %} data-product-id="{{ product.3.product_id }}{% endif %}">
                                                    <a class="product-item__btn-like btn-like js-product-btn-like" href="javascript:void(0);">
                                                        <i class="far fa-heart"></i>
                                                        <i class="fas fa-heart"></i>
                                                    </a>
                                                    
                                                    <figure class="small-alert-info">{{ selected_title }}<span></span></figure>
                                                    
                                                    {% if product.3.image and theme_url_img and product.3.href %}
                                                        <a href="{{ product.3.href }}">
                                                            <img class="product-item__img" src="{{ theme_url_img }}{{ product.3.image }}"
                                                                 alt="{% if product.3.name and product.3.model %} {{ product.3.name }} {{ product.3.model }} {% elseif product.3.name %} {{ product.3.name }} {% elseif product.3.model %} {{ product.3.model }} {% else %} продукт із '7salabim'{% endif %}"
                                                                 title="{% if product.3.name and product.3.model %} {{ product.3.name }} {{ product.3.model }} {% elseif product.3.name %} {{ product.3.name }} {% elseif product.3.model %} {{ product.3.model }} {% else %} продукт із '7salabim'{% endif %}"/>
                                                        </a>
                                                    {% endif %}
                                                    
                                                    <div class="product-item__price">
                                                        {% if product.3.price and product.3.special %}
                                                            <div class="price">
                                                                <div class="price__number">{{product.3.special|trim}}</div>

                                                                <strike>{{product.3.price|trim}}</strike>
                                                            </div>
                                                        {% else %}
                                                            <div class="price">
                                                                <div class="price__number">{{product.3.price|trim}}</div>
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                    {% if product.3.name and product.3.model and product.3.href %}
                                                        <a href="{{ product.3.href }}" class="product-item__title">
                                                            {{ product.3.name }}
                                                            <br>

                                                            <strong>{{ product.3.model }}</strong>
                                                        </a>
                                                    {% elseif product.3.name %}
                                                        <a href="{{ product.3.href }}" class="product-item__title">
                                                            {{ product.3.name }}
                                                        </a>
                                                    {% elseif product.3.model %}
                                                        <a href="{{ product.3.href }}" class="product-item__title">
                                                            <strong>{{ product.3.model }}</strong>
                                                        </a>
                                                    {% endif %}
                                                    
                                                    <button class="product-item__btn-buy btn js-product-btn-buy" {% if product.3.quantity <= 0 %}disabled="disabled" title="{{ not_available }}"{% endif %}>В корзину</button>
                                                </div>
                                            {% endif %}

                                            {% if product.4 %}
                                                <div class="product-item" {% if product.4.product_id %} data-product-id="{{ product.4.product_id }}{% endif %}">
                                                    <a class="product-item__btn-like btn-like js-product-btn-like" href="javascript:void(0);">
                                                        <i class="far fa-heart"></i>
                                                        <i class="fas fa-heart"></i>
                                                    </a>
                                                    
                                                    <figure class="small-alert-info">{{ selected_title }}<span></span></figure>
                                                    
                                                    {% if product.4.image and theme_url_img and product.4.href %}
                                                        <a href="{{ product.4.href }}">
                                                            <img class="product-item__img" src="{{ theme_url_img }}{{ product.4.image }}"
                                                                 alt="{% if product.4.name and product.4.model %} {{ product.4.name }} {{ product.4.model }} {% elseif product.4.name %} {{ product.4.name }} {% elseif product.4.model %} {{ product.4.model }} {% else %} продукт із '7salabim'{% endif %}"
                                                                 title="{% if product.4.name and product.4.model %} {{ product.4.name }} {{ product.4.model }} {% elseif product.4.name %} {{ product.4.name }} {% elseif product.4.model %} {{ product.4.model }} {% else %} продукт із '7salabim'{% endif %}"/>
                                                        </a>
                                                    {% endif %}

                                                    <div class="product-item__price">
                                                        {% if product.4.price and product.4.special %}
                                                            <div class="price">
                                                                <div class="price__number">{{product.4.special|trim}}</div>

                                                                <strike>{{product.4.price|trim}}</strike>
                                                            </div>
                                                        {% else %}
                                                            <div class="price">
                                                                <div class="price__number">
                                                                    {{ product.4.price }}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                    {% if product.4.name and product.4.model and product.4.href %}
                                                        <a href="{{ product.4.href }}" class="product-item__title">
                                                            {{ product.4.name }}
                                                            <br>

                                                            <strong>{{ product.4.model }}</strong>
                                                        </a>
                                                    {% elseif product.4.name %}
                                                        <a href="{{ product.4.href }}" class="product-item__title">
                                                            {{ product.4.name }}
                                                        </a>
                                                    {% elseif product.4.model %}
                                                        <a href="{{ product.4.href }}" class="product-item__title">
                                                            <strong>{{ product.4.model }}</strong>
                                                        </a>
                                                    {% endif %}
                                                    
                                                    <button class="product-item__btn-buy btn js-product-btn-buy" {% if product.4.quantity <= 0 %}disabled="disabled" title="{{ not_available }}"{% endif %}>В корзину</button>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}

                    {% if products_response.md %}
                        {% for product in products_response.md %}
                            <li class="products-sale-section-content-slider__slide">
                                <div class="products-item products-item--mobile">
                                    <div class="products-item__section-left">
                                        {% if product.0 %}
                                            <div class="product-item" {% if product.0.product_id %} data-product-id="{{ product.0.product_id }}{% endif %}">
                                                <a class="product-item__btn-like btn-like js-product-btn-like" href="javascript:void(0);">
                                                    <i class="far fa-heart"></i>
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                                
                                                <figure class="small-alert-info">{{ selected_title }}<span></span></figure>
                                                
                                                {% if product.0.image and theme_url_img and product.0.href %}
                                                    <a href="{{ product.0.href }}">
                                                        <img class="product-item__img" src="{{ theme_url_img }}{{ product.0.image }}"
                                                             alt="{% if product.0.name and product.0.model %} {{ product.0.name }} {{ product.0.model }} {% elseif product.0.name %} {{ product.0.name }} {% elseif product.0.model %} {{ product.0.model }} {% else %} продукт із '7salabim'{% endif %}"
                                                             title="{% if product.0.name and product.0.model %} {{ product.0.name }} {{ product.0.model }} {% elseif product.0.name %} {{ product.0.name }} {% elseif product.0.model %} {{ product.0.model }} {% else %} продукт із '7salabim'{% endif %}"/>
                                                    </a>
                                                {% endif %}
                                                
                                                <div class="product-item__price">
                                                    {% if product.0.price and product.0.special %}
                                                        <div class="price">
                                                            <div class="price__number">{{product.0.special|trim}}</div>

                                                            <strike>{{product.0.price|trim}}</strike>
                                                        </div>
                                                    {% else %}
                                                        <div class="price">
                                                            <div class="price__number">{{product.0.price|trim}}</div>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                {% if product.0.name and product.0.model and product.0.href %}
                                                    <a href="{{ product.0.href }}" class="product-item__title">
                                                        {{ product.0.name }}
                                                        <br>

                                                        <strong>{{ product.0.model }}</strong>
                                                    </a>
                                                {% elseif product.0.name %}
                                                    <a href="{{ product.0.href }}" class="product-item__title">
                                                        {{ product.0.name }}
                                                    </a>
                                                {% elseif product.0.model %}
                                                    <a href="{{ product.0.href }}" class="product-item__title">
                                                        <strong>{{ product.0.model }}</strong>
                                                    </a>
                                                {% endif %}
                                                
                                                <button class="product-item__btn-buy btn js-product-btn-buy" {% if product.0.quantity <= 0 %}disabled="disabled" title="{{ not_available }}"{% endif %}>В корзину</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="products-item__section-right">
                                        <div class="products-item__section-right-footer">
                                            {% if product.1 %}
                                                <div class="product-item" {% if product.1.product_id %} data-product-id="{{ product.1.product_id }}{% endif %}">
                                                    <a class="product-item__btn-like btn-like js-product-btn-like" href="javascript:void(0);">
                                                        <i class="far fa-heart"></i>
                                                        <i class="fas fa-heart"></i>
                                                    </a>
                                                    
                                                    <figure class="small-alert-info">{{ selected_title }}<span></span></figure>

                                                    {% if product.1.image and theme_url_img and product.1.href %}
                                                        <a href="{{ product.1.href }}">
                                                            <img class="product-item__img" src="{{ theme_url_img }}{{ product.1.image }}"
                                                                 alt="{% if product.1.name and product.1.model %} {{ product.1.name }} {{ product.1.model }} {% elseif product.1.name %} {{ product.1.name }} {% elseif product.1.model %} {{ product.1.model }} {% else %} продукт із '7salabim'{% endif %}"
                                                                 title="{% if product.1.name and product.1.model %} {{ product.1.name }} {{ product.1.model }} {% elseif product.1.name %} {{ product.1.name }} {% elseif product.1.model %} {{ product.1.model }} {% else %} продукт із '7salabim'{% endif %}"/>
                                                        </a>
                                                    {% endif %}

                                                    <div class="product-item__price">
                                                        {% if product.1.price and product.1.special %}
                                                            <div class="price">
                                                                <div class="price__number">{{product.1.special|trim}}</div>

                                                                <strike>{{product.1.price|trim}}</strike>
                                                            </div>
                                                        {% else %}
                                                            <div class="price">
                                                                <div class="price__number">{{product.1.price|trim}}</div>
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                    {% if product.1.name and product.1.model and product.1.href %}
                                                        <a href="{{ product.1.href }}" class="product-item__title">
                                                            {{ product.1.name }}
                                                            <br>

                                                            <strong>{{ product.1.model }}</strong>
                                                        </a>
                                                    {% elseif product.1.name %}
                                                        <a href="{{ product.1.href }}" class="product-item__title">
                                                            {{ product.1.name }}
                                                        </a>
                                                    {% elseif product.1.model %}
                                                        <a href="{{ product.1.href }}" class="product-item__title">
                                                            <strong>{{ product.1.model }}</strong>
                                                        </a>
                                                    {% endif %}
                                                    
                                                    <button class="product-item__btn-buy btn js-product-btn-buy" {% if product.1.quantity <= 0 %}disabled="disabled" title="{{ not_available }}"{% endif %}>В корзину</button>
                                                </div>
                                            {% endif %}

                                            {% if product.2 %}
                                                <div class="product-item" {% if product.2.product_id %} data-product-id="{{ product.2.product_id }}{% endif %}">
                                                    <a class="product-item__btn-like btn-like js-product-btn-like" href="javascript:void(0);">
                                                        <i class="far fa-heart"></i>
                                                        <i class="fas fa-heart"></i>
                                                    </a>
                                                    
                                                    <figure class="small-alert-info">{{ selected_title }}<span></span></figure>

                                                    {% if product.2.image and theme_url_img and product.2.href %}
                                                        <a href="{{ product.2.href }}">
                                                            <img class="product-item__img" src="{{ theme_url_img }}{{ product.2.image }}"
                                                                 alt="{% if product.2.name and product.2.model %} {{ product.2.name }} {{ product.2.model }} {% elseif product.2.name %} {{ product.2.name }} {% elseif product.2.model %} {{ product.2.model }} {% else %} продукт із '7salabim'{% endif %}"
                                                                 title="{% if product.2.name and product.2.model %} {{ product.2.name }} {{ product.2.model }} {% elseif product.2.name %} {{ product.2.name }} {% elseif product.2.model %} {{ product.2.model }} {% else %} продукт із '7salabim'{% endif %}"/>
                                                        </a>
                                                    {% endif %}

                                                    <div class="product-item__price">
                                                        {% if product.2.price and product.2.special %}
                                                            <div class="price">
                                                                <div class="price__number">{{product.2.special|trim}}</div>

                                                                <strike>{{product.2.price|trim}}</strike>
                                                            </div>
                                                        {% else %}
                                                            <div class="price">
                                                                <div class="price__number">{{product.2.price|trim}}</div>
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                    {% if product.2.name and product.2.model and product.2.href %}
                                                        <a href="{{ product.2.href }}" class="product-item__title">
                                                            {{ product.2.name }}
                                                            <br>

                                                            <strong>{{ product.2.model }}</strong>
                                                        </a>
                                                    {% elseif product.2.name %}
                                                        <a href="{{ product.2.href }}" class="product-item__title">
                                                            {{ product.2.name }}
                                                        </a>
                                                    {% elseif product.2.model %}
                                                        <a href="{{ product.2.href }}" class="product-item__title">
                                                            <strong>{{ product.2.model }}</strong>
                                                        </a>
                                                    {% endif %}
                                                    
                                                    <button class="product-item__btn-buy btn js-product-btn-buy" {% if product.2.quantity <= 0 %}disabled="disabled" title="{{ not_available }}"{% endif %}>В корзину</button>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                    {% endfor %}
                {% endif %}

                {% if products_response.mob %}
                    {% for product in products_response.mob %}
                        {% if product %}
                            <li class="products-sale-section-content-slider__slide">
                                <div class="products-item products-item--extra-mobile">
                                    <div class="products-item__section-left">
                                        <div class="product-item" {% if product.product_id %}data-product-id="{{ product.product_id }}"{% endif %}>
                                            <a class="product-item__btn-like btn-like js-product-btn-like" href="javascript:void(0);">
                                                <i class="far fa-heart"></i>
                                                <i class="fas fa-heart"></i>
                                            </a>

                                            <figure class="small-alert-info">{{ selected_title }}<span></span></figure>

                                            {% if product.image and theme_url_img and product.href %}
                                                <a href="{{ product.href }}">
                                                    <img class="product-item__img" src="{{ theme_url_img }}{{ product.image }}"
                                                         alt="{% if product.name and product.model %} {{ product.name }} {{ product.model }} {% elseif product.name %} {{ product.name }} {% elseif product.model %} {{ product.model }} {% else %} продукт із '7salabim'{% endif %}"
                                                         title="{% if product.name and product.model %} {{ product.name }} {{ product.model }} {% elseif product.name %} {{ product.name }} {% elseif product.model %} {{ product.model }} {% else %} продукт із '7salabim'{% endif %}"/>
                                                </a>
                                            {% endif %}

                                            <div class="product-item__price">
                                                {% if product.price and product.special %}
                                                    <div class="price">
                                                        <div class="price__number">{{product.special|trim}}</div>

                                                        <strike>{{product.price|trim}}</strike>
                                                    </div>
                                                {% else %}
                                                    <div class="price">
                                                        <div class="price__number">{{product.price|trim}}</div>
                                                    </div>
                                                {% endif %}
                                            </div>

                                            {% if product.name and product.model and product.href %}
                                                <a href="{{ product.href }}" class="product-item__title">
                                                    {{ product.name }}
                                                    <br>

                                                    <strong>{{ product.model }}</strong>
                                                </a>
                                            {% elseif product.name %}
                                                <a href="{{ product.href }}" class="product-item__title">
                                                    {{ product.name }}
                                                </a>
                                            {% elseif product.model %}
                                                <a href="{{ product.href }}" class="product-item__title">
                                                    <strong>{{ product.model }}</strong>
                                                </a>
                                            {% endif %}

                                            <button class="product-item__btn-buy btn js-product-btn-buy" {% if product.quantity <= 0 %}disabled="disabled" title="{{ not_available }}"{% endif %}>В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </ul>
            </div>
        </div>
    </section>
{% endif %}