{{ header }}

<section class="article" id="article">
  <div class="article__container container">
    <div class="article__section-head bread-crumbs-head">
      <ul class="bread-crumbs">
        {% for crumb in breadcrumbs %}
          <li><a class="bread-crumbs__item" href="{{ crumb.href }}">{{ crumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% if url_blog and btn_back %}
      <div class="article__link-prev">
        <a href="{{ url_blog }}">{{ btn_back }}</a>

        <i  class="zmdi zmdi-long-arrow-left"></i>
      </div>
    {% endif %}

    <article class="article__section-content">
      <div class="article-content">
        <div class="article-content__section-top">
          {% if url_img and image and title %}
            <div class="article-content__section-top-img">
              <img src="{{ url_img }}{{ image }}" alt="{{ title }}">
            </div>
          {% endif %}

          <div class="article-content__section-top-info">
            {% if title %}
              <h1 class="article-content__title title">{{ title }}</h1>
            {% endif %}

            {% if subtitle %}
              <span class="article-content__description light-text">{{ subtitle }}</span>
            {% endif %}

            <div class="article-content__section-top-info-details">
              {% if date %}
                <div class="article-content__section-top-info-details-date">
                  <i style="background: url({{ theme_url_img }}/articles/icons/date-icon-dark.svg) no-repeat center center / contain"></i>

                  <span>{{ date }}</span>
                </div>
              {% endif %}

              {% if viewed >= 0 %}
                <div class="article-content__section-top-info-details-reviews">
                  <i style="background: url({{ theme_url_img }}/articles/icons/views-icon-dark.svg) no-repeat center center / contain"></i>

                  <span>{{ viewed }}</span>
                </div>
              {% endif %}
            </div>
          </div>
        </div>

        {% if text %}
          <div class="article-content__section-text">
            {{ text }}
          </div>
        {% endif %}
      </div>
    </article>
  </div>
</section>

{% if slider_popular_articles %}
  {{ slider_popular_articles }}
{% endif %}

{{ footer }}