{{ header }}

{% if random_article %}
    {% if random_article.image %}
        <section class="article-top" style="background: url({{ url_img }}{{ random_article.image }}) no-repeat center center / cover" id="article-top">
            <div class="article-top__cover"></div>

            <div class="article-top__container container">
                <div class="article-top__content">
                    <div class="article-top__section-top">
                        {% if random_article.title %}
                            <h2 class="article-top__title title">{{ random_article.title }}</h2>
                        {% endif %}

                        {% if random_article.subtitle %}
                            <p class="article-top__description light-text">{{ random_article.subtitle }}</p>
                        {% endif %}
                    </div>

                    <div class="article-top__section-bottom">
                        <div class="article-top__section-info">
                            {% if random_article.date %}
                                <div class="article-top__section-info-date">
                                    <i style="background: url({{ theme_url_img }}/articles/icons/date-icon.svg) no-repeat center center / contain"></i>

                                    <span>{{ random_article.date }}</span>
                                </div>
                            {% endif %}

                            {% if random_article.viewed %}
                                <div class="article-top__section-info-reviews">
                                    <i style="background: url({{ theme_url_img }}/articles/icons/views-icon.svg) no-repeat center center / contain"></i>

                                    <span>{{ random_article.viewed }}</span>
                                </div>
                            {% endif %}
                        </div>

                        {% if random_article.link and btn_more_random_article %}
                            <div class="article-top__section-btn">
                                <a class="article-top__btn btn" href="{{ random_article.link }}">{{ btn_more_random_article }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endif %}

<div class="articles-grid">
    <div class="articles-grid__container container">
        <div class="articles-grid__section-head bread-crumbs-head">
            <ul class="bread-crumbs">
                {% for crumb in breadcrumbs %}
                    <li><a class="bread-crumbs__item" href="{{ crumb.href }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="articles-grid__section-content">
            <ul class="articles-grid-list">
{#                <li>#}
{#                    <a class="articles-grid-list__item article-item" href="/article.html">#}
{#                        <span class="articles-grid-list__item-wrapper article-item__wrapper">#}
{#                            <span class="articles-grid-list__item-img article-item__wrapper-img" style="background: url({{ theme_url_img }}/articles/article-image-1.png) no-repeat center center / cover"></span>#}
{#                            #}
{#                            <span class="articles-grid-list__item-content article-item__content">#}
{#                                <h5 class="articles-grid-list__item-content-title title article-item__content-title">Декор для дома приносящий деньги!</h5>#}
{#                                #}
{#                                <p>С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...</p>#}
{#                                #}
{#                                <footer class="articles-grid-list__item-content-footer article-item__content-footer">#}
{#                                    <div class="articles-grid-list__item-content-footer-date article-item__content-footer-date">#}
{#                                        <i style="background: url({{ theme_url_img }}/articles/icons/date-icon.svg) no-repeat center center / cover"></i>#}
{#                                        #}
{#                                        <span>20.04.2019</span>#}
{#                                    </div>#}
{#                                    #}
{#                                    <div class="articles-grid-list__item-content-footer-views article-item__content-footer-views">#}
{#                                        <i style="background: url({{ theme_url_img }}/articles/icons/views-icon.svg) no-repeat center center / cover"></i>#}
{#                                        #}
{#                                        <span>1000</span>#}
{#                                    </div>#}
{#                                </footer>#}
{#                            </span>#}
{#                        </span>#}
{#                    </a>#}
{#                </li>#}
            </ul>

            <div class="articles-grid__pagination pagination-controllers"></div>

            <div class="articles-grid__preloader hide universal-preloader universal-preloader--small">
                <div class="articles-grid__preloader-logo universal-preloader__logo">
                    <img src="{{ theme_url_img }}/specifications/preloader.svg" alt="7salabim preloader" title="Loading...">
                </div>
            </div>
        </div>
    </div>
</div>

{{ footer }}