{{ header }}

{% if text %}
    <div class="container">
        {% if breadcrumbs %}
            <div class="bread-crumbs-head">
                <ul class="bread-crumbs">
                    {% for crumb in breadcrumbs %}
                        <li><a class="bread-crumbs__item" href="{{ crumb.href }}">{{ crumb.text }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <article class="information-text-box">{{text|trim}}</article>
    </div>
{% endif %}

{{ footer }}
