{{ header }}

<section class="error-page" id="error-page">
    <div class="error-page__container container">
        <div class="error-page__section-head bread-crumbs-head">
            <ul class="bread-crumbs">
                {% for crumb in breadcrumbs %}
                    <li><a class="bread-crumbs__item" href="{{ crumb.href }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="error-page__section-content">
            <div class="error-page__image">
                {% if error_code %}
                    <span class="error-page__text">{{ error_code }}</span>
                {% endif %}

                <img src="{{ theme_url_img_assets }}/specifications/gifts.png" alt="Gifts" title="A gifts"/>
            </div>
        </div>

        <div class="error-page__section-bottom">
            {% if error_title and error.error_text %}
                <h1>{{ error_title }}</h1>

                <span>{{ error.error_text }}</span>
            {% endif %}

            {% if continue_href and continue_btn %}
                <a class="error-page__btn btn" href="{{ continue_href }}">{{ continue_btn }}</a>
            {% endif %}
        </div>
    </div>
</section>

{{ footer }}