{{ header }}

<section class="basket" id="basket">
    <div class="basket__container container">
        <div class="basket__section-head bread-crumbs-head">
            <ul class="bread-crumbs">
                {% for crumb in breadcrumbs %}
                    <li><a class="bread-crumbs__item" href="{{ crumb.href }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="basket__section-box">
            <div class="basket__body hide">
                <div class="basket__section-content">
                    <div class="basket-params">
                        <div class="basket-params__section-left">
                            {% if title_list_photo %}
                                <span>{{ title_list_photo }}</span>
                            {% endif %}

                            {% if title_list_name %}
                                <span>{{ title_list_name }}</span>
                            {% endif %}
                        </div>

                        <div class="basket-params__section-right">
                            {% if title_list_count %}
                                <span>{{ title_list_count }}</span>
                            {% endif %}

                            {% if title_list_price %}
                                <span>{{ title_list_price }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="basket__section-bottom">
                    <ul class="basket-products-list"></ul>
                </div>

                {% if submit_href %}
                    <div class="basket-section-pay">
                        <form class="basket-section-pay__form" action="{{ submit_href }}" method="POST">
{#                            <div class="form-input-box">#}
{#                                {% if placeholder_input %}#}
{#                                    <input class="form-input-box__field" type="text" name="coupon" placeholder="{{ placeholder_input }}" minlength="5" maxlength="20"/>#}
{#                                {% endif %}#}

{#                                <i class="form-input-box__icon">#}
{#                                    <img src="{{ theme_url_img_assets }}/specifications/icons/form/coupon-icon.svg" alt="coupon">#}
{#                                </i>#}
{#                            </div>#}

                            <div class="basket-section-pay__form-checkbox">
                                <input type="checkbox" required id="confirm" name="confirm">

                                {% if confirm_btn %}
                                    <label class="no-valid" for="confirm">{{ confirm_btn }}</label>
                                {% endif %}
                            </div>

                            {% if reset_btn %}
                                <div class="basket-section-pay__btn-reset" id="js-basket-products-btn-reset-all">
                                    <i class="zmdi zmdi-replay"></i>

                                    <span>{{ reset_btn }}</span>
                                </div>
                            {% endif %}


                            <div class="form-pay">
                                {% if title_all_price %}
                                    <span class="form-pay__title">{{ title_all_price }}</span>
                                {% endif %}

                                <div class="form-pay__price"><span class="form-pay__price-numbers" id="js-form-pay-price">0</span>
                                    <i class="form-pay__price-valute">₴</i>
                                </div>
                            </div>

                            {% if order_btn %}
                                <button class="basket-section-pay__form-btn-submit btn" type="submit">{{ order_btn }}</button>
                            {% endif %}
                        </form>

                        {% if catalog_href and continue_purchase %}
                            <a class="basket-section-pay__link link-dashed" href="{{ catalog_href }}">{{ continue_purchase }}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <div class="basket__preloader">
                <div class="basket__preloader-logo">
                    <img src="{{ theme_url_img_assets }}/specifications/preloader.svg" alt="7salabim preloader" title="Loading...">
                </div>
            </div>

            <div class="alert-info">
                <div class="alert-info__text">
                    <img class="alert-info__img" src="{{ theme_url_img_assets }}/specifications/icons/icon-catalog-empty.svg" alt="" role="presentation"/>

                    {% if title_basket_empty %}
                        <p class="alert-info__title title">{{ title_basket_empty }}</p>
                    {% endif %}

                    {% if description_basket_empty %}
                        <span class="alert-info__description">{{ description_basket_empty }}</span>
                    {% endif %}

                    {% if catalog_href and btn_basket_empty %}
                        <a class="alert-info__btn btn" href="{{ catalog_href }}">{{ btn_basket_empty }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{{ footer }}