{{ header }}

<sction class="catalog" id="catalog">
    <div class="catalog__container container">
        <div class="catalog-head">
            <div class="catalog-head__section-top">
                <ul class="bread-crumbs">
                    {% for crumb in breadcrumbs %}
                        <li><a class="bread-crumbs__item" href="{{ crumb.href }}">{{ crumb.text }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="catalog-head__section-bottom">
                {% if panel_filter_grid and title_catalog_grid %}
                    <div class="catalog-head__section-left">
                        <span>{{ title_catalog_grid }}:</span>

                        <ul class="pagination">
                            {% set grid_item_row = 1 %}

                            {% for grid_item in panel_filter_grid %}
                                {% if grid_item.count %}
                                    <li><a class="pagination__item show-mobile {% if grid_item_row == 1 %}pagination__item--active{% endif %}" href="javascript:void(0);" {% if grid_item_row == 1 %}data-default="true"{% endif %}>{{ grid_item.count }}</a></li>

                                    {% set grid_item_row = grid_item_row + 1 %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if title_catalog_sort and title_btn_catalog_sort_default %}
                    <div class="catalog-head__section-right">
                        <span>{{ title_catalog_sort }}:</span>

                        <div class="catalog-head__form-sort form">
                            <form class="form-content" action="#" id="js-catalog-form-sort">
                                <select class="sort js-select" name="catalog-sort">
                                    <option value="{{ title_btn_catalog_sort_default }}" selected data-default="true">{{ title_btn_catalog_sort_default }}</option>

                                    {% if title_btn_catalog_sort_new %}
                                        <option value="{{ title_btn_catalog_sort_new }}" data-new="true">{{ title_btn_catalog_sort_new }}</option>
                                    {% endif %}

                                    {% if title_btn_catalog_sort_popular %}
                                        <option value="{{ title_btn_catalog_sort_popular }}" data-popular="true">{{ title_btn_catalog_sort_popular }}</option>
                                    {% endif %}

                                    {% if title_btn_catalog_sort_price_asc %}
                                        <option value="{{ title_btn_catalog_sort_price_asc }}" data-price-asc="true">{{ title_btn_catalog_sort_price_asc }}</option>
                                    {% endif %}

                                    {% if title_btn_catalog_sort_price_desc %}
                                        <option value="{{ title_btn_catalog_sort_price_desc }}" data-price-desc="true">{{ title_btn_catalog_sort_price_desc }}</option>
                                    {% endif %}

                                    {% if title_btn_catalog_sort_wishlist %}
                                        <option value="{{ title_btn_catalog_sort_wishlist }}" data-liked="true">{{ title_btn_catalog_sort_wishlist }}</option>
                                    {% endif %}

                                    {% if title_btn_catalog_sort_size_sale %}
                                        <option value="{{ title_btn_catalog_sort_size_sale }}" data-sale-desc="true">{{ title_btn_catalog_sort_size_sale }}</option>
                                    {% endif %}
                                </select>
                            </form>

                            <div class="catalog-head__form-icon-arrow-up form-icon-arrow-up">
                                <i class="fas fas fa-chevron-down"></i>
                            </div>
                        </div>

                        <button class="catalog-head__btn-reset" id="js-catalog-reset-sort">
                            <img src="{{ theme_url_img }}/specifications/icons/icon-reset.svg" alt="icon reset">
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="catalog-content">
            {% if title_btn_open_filters and title_btn_close_filters %}
                <button class="catalog-content__btn-mobile btn" data-open-text="Открыть фильтры" data-close-text="{{ title_btn_close_filters }}" id="js-catalog-content-btn-mobile">{{ title_btn_open_filters }}</button>
            {% endif %}

            <div class="catalog-content__section-left">
                <div class="catalog-sorts">
                    {% if title_info_filter_price or title_info_filter_holidays %}
                        <div class="catalog-sorts-current">
                            <ul class="catalog-sorts-current__content">
                                {% if title_info_filter_price %}
                                    <li class="catalog-sorts-current__content-item catalog-sorts-current__content-item--price">
                                        <b>
                                            <span class="title">{{ title_info_filter_price }}</span>
                                        </b>

                                        <span id="js-catalog-current-sort-price">500 - 1050₴</span>

                                        <button class="catalog-sorts-current__btn catalog-sorts-current__btn--delete" id="js-catalog-reset-sort-price">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </li>
                                {% endif %}

                                {% if title_info_filter_holidays %}
                                    <li class="catalog-sorts-current__content-item catalog-sorts-current__content-item--holidays">
                                        <b>
                                            <span class="title">{{ title_info_filter_holidays }}</span>
                                        </b>

                                        <span id="js-catalog-current-sort-holidays">Новый год</span>

                                        <button class="catalog-sorts-current__btn catalog-sorts-current__btn--delete" id="js-catalog-reset-sort-holidays">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </li>
                                {% endif %}
                            </ul>

                            {% if title_btn_reset_filters %}
                                <div class="catalog-sorts-current__reset">
                                    <button class="catalog-sorts-current__btn catalog-sorts-current__btn--reset" id="js-catalog-reset-sorts">
                                        <i class="fas fa-times"></i>

                                        <span class="catalog-sorts-current__reset-title">{{ title_btn_reset_filters }}</span>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if panel_filter_price and title_panel_filter_by_price %}
                        <div class="current-sorts-tab" data-hidden="false">
                            <div class="current-sorts-tab__section-head">
                                <div class="current-sorts-tab__title current-sorts-tab__title--price">
                                    <span class="title">{{ title_panel_filter_by_price }}</span>
                                </div>

                                <button class="current-sorts-tab__btn current-sorts-tab__btn--arrow js-catalog-sorts-tab-btn">
                                    <i class="fas fas fa-chevron-up"></i>
                                </button>
                            </div>

                            {% if panel_filter_price.min_price and panel_filter_price.max_price and panel_filter_price.type and panel_filter_price.default_min_price and panel_filter_price.default_max_price %}
                                <div class="current-sorts-tab__form current-sorts-tab__form--price form">
                                    <form class="current-sorts-tab__form-price" action="#" id="js-catalog-sort-price">
                                        <input class="js-range-slider" type="text" name="my_range" value="" data-type="{{ panel_filter_price.type }}" data-min="{{ panel_filter_price.min_price }}" data-max="{{ panel_filter_price.max_price }}" data-from="{{ panel_filter_price.default_min_price }}" data-to="{{ panel_filter_price.default_max_price }}" data-grid="false" id="js-catalog-range-price">

                                        <span class="current-sorts-tab__form-price-inputs">
                                            <input type="text" value="{{ panel_filter_price.default_min_price }}" name="min-price" id="js-catalog-min-price">

                                            <span></span>

                                            <input type="text" value="{{ panel_filter_price.default_max_price }}" name="max-price" id="js-catalog-max-price">
                                        </span>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if panel_filter_holidays and title_panel_filter_by_holidays %}
                        <div class="current-sorts-tab" data-hidden="false">
                            <div class="current-sorts-tab__section-head">
                                <div class="current-sorts-tab__title">
                                    <span class="title">{{ title_panel_filter_by_holidays }}</span>
                                </div>

                                <button class="current-sorts-tab__btn current-sorts-tab__btn--arrow js-catalog-sorts-tab-btn">
                                    <i class="fas fas fa-chevron-up"></i>
                                </button>
                            </div>

                            <div class="current-sorts-tab__form form form--lighten">
                                <form class="current-sorts-tab__form-holidays" action="#" id="js-catalog-sort-holidays">
                                    <select class="sort js-select" name="catalog-sort-holidays">
                                        {% if title_select_default_panel_filter_by_holidays %}
                                            <option value="{{ title_select_default_panel_filter_by_holidays }}" selected data-default="true">{{ title_select_default_panel_filter_by_holidays }}</option>
                                        {% endif %}

                                        {% for day in panel_filter_holidays  %}
                                            <option value="{{ day.name }}">{{ day.name }}</option>
                                        {% endfor %}
                                    </select>
                                </form>

                                <div class="current-sorts-tab__form-icon-arrow-up form-icon-arrow-up">
                                    <i class="fas fas fa-chevron-down"></i>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if panel_filter_colors and title_panel_filter_by_colors %}
                        <div class="current-sorts-tab" data-hidden="false">
                            <div class="current-sorts-tab__section-head">
                                <div class="current-sorts-tab__title">
                                    <span class="title">{{ title_panel_filter_by_colors }}</span>
                                </div>

                                <button class="current-sorts-tab__btn current-sorts-tab__btn--arrow js-catalog-sorts-tab-btn">
                                    <i class="fas fas fa-chevron-up"></i>
                                </button>
                            </div>

                            <ul class="current-sorts-tab__colors-list colors-list">
                                <li>
                                    <a class="current-sorts-tab__colors-item current-sorts-tab__colors-item--default js-sort-colors-item item item--default" href="javascript:void(0);" data-color="white">
                                        <e class="current-sorts-tab__colors-item-border item-border">
                                            <i></i>
                                        </e>
                                    </a>
                                </li>

                                {% for color in panel_filter_colors %}
                                    <li>
                                        {% if color.value %}
                                            <a class="current-sorts-tab__colors-item current-sorts-tab__colors-item--white js-sort-colors-item item item--white" href="javascript:void(0);" data-color="{{ color.value }}">

                                                <e class="current-sorts-tab__colors-item-border item-border"></e>

                                                {% if color.name %}
                                                    <figure class="small-alert-info">
                                                        {{ color.name }}

                                                        <span></span>
                                                    </figure>
                                                {% endif %}
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if panel_filter_sex and title_panel_filter_by_sex %}
                        <div class="current-sorts-tab" data-hidden="true">
                            <div class="current-sorts-tab__section-head">
                                <div class="current-sorts-tab__title">
                                    <span class="title">{{ title_panel_filter_by_sex }}</span>
                                </div>

                                <button class="current-sorts-tab__btn current-sorts-tab__btn--arrow js-catalog-sorts-tab-btn">
                                    <i class="fas fas fa-chevron-up"></i>
                                </button>
                            </div>

                            <ul class="current-sorts-tab__sex-list">
                                {% set row = 1 %}

                                {% if title_panel_filter_by_sex_btn_default %}
                                    <li class="current-sorts-tab__sex-list-item">
                                        <input type="radio" name="catalog-type-sex" form="js-catalog-form-sort" checked="checked" id="catalog-form-sorts-radio-sex{{ row }}"/>
                                        <label class="current-sorts-tab__sex-list-item-title title form-input-label" for="catalog-form-sorts-radio-sex{{ row }}">{{ title_panel_filter_by_sex_btn_default }}</label>
                                    </li>
                                {% endif %}

                                {% set row = 2 %}

                                {% for sex_item in panel_filter_sex %}
                                    {% if sex_item.name %}
                                        <li class="current-sorts-tab__sex-list-item">
                                            <input type="radio" name="catalog-type-sex" value="{{ sex_item.name }}" form="js-catalog-form-sort" id="catalog-form-sorts-radio-sex{{ row }}"/>
                                            <label class="current-sorts-tab__sex-list-item-title title form-input-label" for="catalog-form-sorts-radio-sex{{ row }}">{{ sex_item.name }}</label>
                                        </li>

                                        {% set row = row + 1 %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="catalog-content__section-right">
                <div class="catalog-products-grid">
                    <div class="catalog-products-grid__content">
                        <ul class="catalog-products-list">
{#                            <li class="product-item product-item--catalog product-item" data-product-id="1">#}
{#                                <a class="product-item__btn-like btn-like js-product-btn-like" href="javascript:void(0);">#}
{#                                    <i class="far fa-heart"></i>#}

{#                                    <i class="fas fa-heart"></i>#}
{#                                </a>#}

{#                                <figure class="small-alert-info">В список желаний<span></span></figure>#}

{#                                <div class="product-item__sale">#}
{#                                    <span>30</span>#}
{#                                </div>#}

{#                                <img class="product-item__img" src="{{ theme_url_img }}/products/product-present-2.png" alt="product-1" title=""/>#}

{#                                <div class="product-item__price">#}
{#                                    <div class="price">#}
{#                                        <div class="price__number">145<strike>450</strike></div>#}
{#                                    </div>#}
{#                                </div>#}

{#                                <h6 class="product-item__title">#}
{#                                    Подарочный набор#}

{#                                    <br>#}

{#                                    <strong>PETER RABBIT</strong>#}
{#                                </h6>#}

{#                                <span class="product-item__code">#CG1249</span>#}

{#                                <button class="product-item__btn-buy btn js-product-btn-buy">В корзину</button>#}
{#                            </li>#}
                        </ul>

                        <div class="catalog-products-grid__pagination pagination-controllers">
                            <button class="catalog-products-grid__pagination-btn-prev btn-prev">
                                <i class="zmdi zmdi-long-arrow-left"></i>
                            </button>

                            <ul class="pagination">
                                <li><a class="pagination__item pagination__item--active show-mobile" href="javascript:void(0);">1</a></li>
                                <li><a class="pagination__item show-mobile" href="javascript:void(0);">2</a></li>
                                <li><a class="pagination__item show-mobile" href="javascript:void(0);">3</a></li>
                                <li><a class="pagination__item" href="javascript:void(0);">4</a></li>
                                <li><a class="pagination__item" href="javascript:void(0);">5</a></li>
                                <li class="pagination__item pagination__item--dots">...</li>
                                <li><a class="pagination__item show-mobile" href="javascript:void(0);">112</a></li>
                            </ul>

                            <button class="catalog-products-grid__pagination-btn-next btn-next">
                                <i class="zmdi zmdi-long-arrow-right"></i>
                            </button>
                        </div>
                    </div>

                    <div class="catalog-products-grid__preloader hide">
                        <div class="catalog-products-grid__preloader-logo">
                            <img src="{{ theme_url_img_assets }}/specifications/preloader.svg" alt="7salabim preloader" title="Loading...">
                        </div>
                    </div>
                </div>


                <div class="alert-info hide">
                    <div class="alert-info__text">
                        {% if theme_url_img %}
                            <img class="alert-info__img" src="{{ theme_url_img }}/specifications/icons/icon-catalog-empty.svg" alt="" role="presentation"/>
                        {% endif %}

                        {% if title_empty_result_products_grid %}
                            <p class="alert-info__title title">{{ title_empty_result_products_grid }}</p>
                        {% endif %}

                        {% if description_empty_result_products_grid %}
                            <span class="alert-info__description">{{ description_empty_result_products_grid }}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="catalog-similar-slider">
                    <div class="products-line" id="products-similar">
                        <div class="products-line__container container">
                            <div class="products-line__section-head"><h4 class="products-line__title title">Похожие
                                    товары</h4>
                                <div class="products-line__slider-btns"><a
                                            class="products-line__slider-btn-prev btn-round" href="javascript:void(0);"
                                            id="js-slider-products-similar-btn-prev"><i class="fa fa-angle-left"></i></a><a
                                            class="products-line__slider-btn-next btn-round" href="javascript:void(0);"
                                            id="js-slider-products-similar-btn-next"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>

                            <div class="products-line__section-content">
                                <ul class="products-line-section-content-slider" id="js-slider-products-similar">
{#                                    <li class="product-item product-item--similar product-item" data-product-id="21">#}
{#                                        <a class="product-item__btn-like btn-like js-product-btn-like" href="javascript:void(0);"><i class="far fa-heart"></i>#}
{#                                            <i class="fas fa-heart"></i>#}
{#                                        </a>#}
{#                                        #}
{#                                        <figure class="small-alert-info">#}
{#                                            В список желаний#}
{#                                            #}
{#                                            <span></span>#}
{#                                        </figure>#}
{#                                        #}
{#                                        <img class="product-item__img" src="{{ theme_url_img }}/products/product-present-7.png" alt="product-2" title=""/>#}
{#                                        #}
{#                                        <div class="product-item__price">#}
{#                                            <div class="price">#}
{#                                                <div class="price__number">368<strike>450</strike></div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        #}
{#                                        <h6 class="product-item__title">#}
{#                                            Подарочный набор#}
{#                                            #}
{#                                            <br>#}
{#                                            #}
{#                                            <strong>PETER RABBIT</strong>#}
{#                                        </h6>#}
{#                                        #}
{#                                        <button class="product-item__btn-buy btn js-product-btn-buy">В корзину</button>#}
{#                                    </li>#}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sction>

{{ footer }}