<form class="popup-form popup-form--reviews hide js-popup-form" action="/">
    {% if form_title %}
        <h6 class="popup-form__title title">{{ form_title }}</h6>
    {% endif %}

    {% if form_description %}
        <span class="popup-form__description light-text">{{ form_description }}</span>
    {% endif %}

    {% if field_name %}
        <div class="form-input-box">
            <input class="form-input-box__field" type="text" name="name" placeholder="{{ field_name }}" minlength="3" maxlength="25" required="required"/>
            <span>*</span>

            <i class="form-input-box__icon">
                <img src="/{{ theme_url_img }}/specifications/icons/form/person-icon.svg" alt="person">
            </i>
        </div>
    {% endif %}

    {% if field_priority %}
        <div class="form-input-box">
            <input class="form-input-box__field" type="text" name="priority" placeholder="{{ field_priority }}" minlength="10" maxlength="255"/>

            <i class="form-input-box__icon">
                <img src="/{{ theme_url_img }}/specifications/icons/form/chat-priority-icon.svg" alt="priority">
            </i>
        </div>
    {% endif %}

    {% if field_limitations %}
        <div class="form-input-box">
            <input class="form-input-box__field" type="text" {% if error_text_limitations %}data-error="{{ error_text_limitations }}"{% endif %} name="limitations" placeholder="{{ field_limitations }}" minlength="10" maxlength="255"/>

            <i class="form-input-box__icon">
                <img src="/{{ theme_url_img }}/specifications/icons/form/chat-limitations-icon.svg" alt="limitations">
            </i>
        </div>
    {% endif %}

    {% if field_review %}
        <div class="form-input-box security">
            <input class="form-input-box__field" type="text" name="security" placeholder="Security" minlength="10" maxlength="75"/>
        </div>

        <div class="form-input-box">
            <textarea class="form-input-box__field form-input-box__field--textarea" name="message" placeholder="{{ field_review }}" minlength="10" maxlength="1000" required="required"></textarea>

            <i class="form-input-box__icon">
                <img src="/{{ theme_url_img }}/specifications/icons/form/message-icon.svg" alt="message">
            </i>

            <span>*</span>
        </div>
    {% endif %}

    {% if form_btn_send %}
        <button class="popup-form__btn btn">{{ form_btn_send }}</button>
    {% endif %}
</form>