{{ header }}
<section class="card" id="card">
    <div class="card__container container">
        <div class="card__section-head bread-crumbs-head">
            <ul class="bread-crumbs">
                {% for crumb in breadcrumbs %}
                    <li><a class="bread-crumbs__item" href="{{ crumb.href }}">{{ crumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="card__section-content">
            {% if popup and heading_title and heading_title %}
                <div class="card-section-left">
                    <button class="card-section-left__btn-up" id="js-card-images-btn-up">
                        <i class="zmdi zmdi-chevron-up"></i>
                    </button>

                    <div class="card-section-left__images-grid">
                        <div class="card-section-left__images-grid-left swiper-container" id="js-card-images-grid-slider">
                            <ul class="card-section-left__images-grid-left-list swiper-wrapper">
                                <li class="card-section-left__swiper-slide swiper-slide">
                                    <img class="card-section-left__images-grid-item js-card-product-image" src="{{ popup }}" alt="{{ heading_title }}" title="{{ heading_title }}"/>
                                </li>

                                {% if images %}
                                    {% for image in images %}
                                        {% if image.popup %}
                                            <li class="card-section-left__swiper-slide swiper-slide">
                                                <img class="card-section-left__images-grid-item js-card-product-image" src="{{ image.popup }}" alt="{{ heading_title }}" title="{{ heading_title }}"/>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>

                        <img class="card-section-left__images-grid-item card-section-left__images-grid-item--parent" src="{{ popup }}" alt="{{ heading_title }}" id="js-card-product-parent-image" title="{{ heading_title }}"/>
                    </div>

                    <button class="card-section-left__btn-down" id="js-card-images-btn-down">
                        <i class="zmdi zmdi-chevron-down"></i>
                    </button>
                </div>
            {% endif %}

            <div class="card-section-right" data-product-id="{{ product_id }}">
                <div class="card-section-right__top">
                    <div class="card-section-right__title">
                        {% if heading_title %}
                            <h1 class="title">{{ heading_title }}</h1>
                        {% endif %}

                        {% if product_more and product_more.sku %}
                            <span>{{ product_more.sku }}</span>
                        {% endif %}
                    </div>

                    <a class="card-section-right__btn-like btn-like js-product-btn-like" href="javascript:void(0);">
                        <i class="far fa-heart"></i>

                        <i class="fas fa-heart"></i>
                    </a>

                    {% if btn_like_product %}
                        <figure class="small-alert-info">{{ btn_like_product }}<span></span></figure>
                    {% endif %}
                </div>

                <div class="card-section-right__center">
                    <div class="price">
                        {% if price and special%}
                            <div class="price__number">{{special|trim}}</div>

                            <strike>{{price|trim}}</strike>
                        {% else %}
                            {% if price %}
                                <div class="price__number">{{price|trim}}</div>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="card-section-right__center-btns">
                        <div class="product-count-calculator">
                            <button class="product-count-calculator__btn product-count-calculator__btn--minus js-count-calculator-btn-minus">
                                -
                            </button>

                            <span class="product-count-calculator__count-number js-count-calculator-indicator" data-max-count="{% if quantity > 0 %}{{ quantity }}{% else %}0{% endif %}">1</span>

                            <button class="product-count-calculator__btn product-count-calculator__btn--plus js-count-calculator-btn-plus">
                                +
                            </button>
                        </div>

                        <button class="card-section-right__btn btn js-product-btn-buy" {% if quantity <= 0 %}disabled="disabled" title="{{ not_available }}"{% endif %}>В корзину</button>
                    </div>
                </div>

                <div class="card-section-right__bottom">
                    {% if colors %}
                        {% if color_text %}
                            <h2 class="card-section-right__bottom-title card-section-right__bottom-title--colors title">
                                {{ color_text }}
                            </h2>
                        {% endif %}

                            <ul class="card-section-right__colors-list colors-list">
                                <li>
                                    <a class="card-section-right__colors-item card-section-right__colors-item--default js-sort-colors-item item item--default" href="javascript:void(0);" data-color="white">

                                        <e class="card-section-right__colors-item-border item-border">
                                            <i></i>
                                        </e>
                                    </a>
                                </li>

                                {% for color in colors %}
                                    {% if color.value and color.name %}
                                        <li>
                                            <a class="card-section-right__colors-item js-sort-colors-item item" href="javascript:void(0);" data-color="{{ color.value }}">

                                                <e class="card-section-right__colors-item-border item-border"></e>

                                                <figure class="small-alert-info">{{  color.name }}<span></span></figure>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                    {% endif %}

                    {% if description_product and head_description %}
                        <h3 class="card-section-right__bottom-title card-section-right__bottom-title--description title">
                            {{ description_product }}
                        </h3>
                    {% endif %}

                    {% if head_description %}
                        <p class="light-text">{{head_description}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="card-tabs" id="card-tabs">
    <div class="card-tabs__container container">
        <div class="card-tabs__content">
            <div class="card-tabs__content-head">
                <ul class="card-tabs-controllers-list">
                    {% if description_tab %}
                        <li class="card-tabs-controllers-list__item card-tabs-controllers-list__item--active js-card-tabs-controllers-btn" data-tab-id="1">
                            <span>{{ description_tab }}</span>
                        </li>
                    {% endif %}

                    {% if tab_review_count >= 0 and tab_review %}
                        <li class="card-tabs-controllers-list__item js-card-tabs-controllers-btn js-card-tab-reviews-btn" data-status-opened="false" data-tab-id="2"
                            data-count="{{ tab_review_count }}"><span>{{ tab_review }}</span>
                            <span class="card-tabs-controllers-list__item-count" id="js-card-tabs-reviews"></span>
                        </li>
                    {% endif %}

                    {% if wholesale_title and quantity > 0 %}
                        <li class="card-tabs-controllers-list__item js-card-tabs-controllers-btn" data-tab-id="3">
                            <span>{{ wholesale_title }}</span>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="card-tabs__content-footer">
                <ul class="card-tabs-content">
                    <li class="card-tabs-content__item card-tabs-content__item--active js-card-tabs-content-item"
                        data-tab-id="1">
                        <div class="card-tabs-content__section-left">
                            <h4 class="card-tabs-content__title title">{{ heading_title }}</h4>
                            {% if product_more and product_more.sku %}
                                <span class="card-tabs-content__code">{{ product_more.sku }}</span>
                            {% endif %}

                            <p class="light-text">{{ description }}</p>
                        </div>

                        <div class="card-tabs-content__section-right">
                            <ul class="card-tabs-section-right-params">
                                {% if tab_height_text and product_params.height %}
                                    <li class="card-tabs-section-right-params__item">
                                        <span class="card-tabs-section-right-params__item-title">{{ tab_height_text }}</span>

                                        <span class="card-tabs-section-right-params__item-info">{{ product_params.height }}</span>
                                    </li>
                                {% endif %}

                                {% if tab_width_text and product_params.width %}
                                    <li class="card-tabs-section-right-params__item">
                                        <span class="card-tabs-section-right-params__item-title">{{ tab_width_text }}</span>

                                        <span class="card-tabs-section-right-params__item-info">{{ product_params.width }}</span>
                                    </li>
                                {% endif %}

                                {% if tab_weight_text and product_more.weight %}
                                    <li class="card-tabs-section-right-params__item">
                                        <span class="card-tabs-section-right-params__item-title">{{ tab_weight_text }}</span>

                                        <span class="card-tabs-section-right-params__item-info">{{ product_more.weight }}</span>
                                    </li>
                                {% endif %}

                                {% if stock %}
                                    <li class="card-tabs-section-right-params__item">
                                        <span class="card-tabs-section-right-params__item-title {% if product_more.quantity <= 0 %} empty{% endif %}">{% if product_more.quantity > 0 %} {{ text_stock }} {% else %} {{ error_quantity }} {% endif %}</span>

                                        <span class="card-tabs-section-right-params__item-info">{% if product_more.quantity > 0 %} {{ product_more.quantity }} {% else %} 0 {% endif %}</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>

                    <li class="card-tabs-content__item card-tabs-content__item--reviews js-card-tabs-content-item"
                        data-tab-id="2">
                        <div class="card-tabs-content__section-top">
                            {% if reviews_title %}
                                <h4 class="card-tabs-content__title title">
                                    {{ reviews_title }}
                                </h4>
                            {% endif %}

                            <ul class="card-tabs-reviews-list">
                                {% if tab_review_count == 0 and title_empty_reviews %}
                                    <p class="light-text">
                                        {{ title_empty_reviews }}
                                    </p>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="card-tabs-content__section-bottom">
                            {% if reviews_btn_more and tab_review_count > 0%}
                                <button class="card-tabs-content__btn btn btn-unique" id="js-card-product-tabs-btn-more">
                                    {{ reviews_btn_more }}
                                </button>
                            {% endif %}

                            {% if reviews_btn_send %}
                                <button class="card-tabs-content__btn btn js-open-popup-form" id="js-open-popup-form-reviews">
                                    {{ reviews_btn_send }}
                                </button>
                            {% endif %}
                        </div>
                    </li>

                    {% if quantity > 0 %}
                        <li class="card-tabs-content__item card-tabs-content__item--form js-card-tabs-content-item"
                            data-tab-id="3">
                            <div class="card-tabs-content__section-left">
                                {% if heading_title %}
                                    <h4 class="card-tabs-content__title title">
                                        {{ heading_title }}
                                    </h4>
                                {% endif %}

                                {% if wholesale_description %}
                                    <p class="light-text">
                                        {{ wholesale_description }}
                                    </p>
                                {% endif %}

                                <form class="card-tabs-content__form js-form-wholesale" action="/" method="POST">
                                    {% if wholesale_field_name %}
                                        <div class="form-input-box">
                                            <input class="form-input-box__field" type="text" name="name" placeholder="{{ wholesale_field_name }}" minlength="3" maxlength="30" required="required"/>

                                            <span>*</span>

                                            <i class="form-input-box__icon">
                                                <img src="{{ theme_url_img }}/specifications/icons/form/person-icon.svg" alt="person">
                                            </i>
                                        </div>
                                    {% endif %}

                                    {% if wholesale_field_organisation %}
                                        <div class="form-input-box">
                                            <input class="form-input-box__field" type="text" name="organization" placeholder="{{ wholesale_field_organisation }}" minlength="3" maxlength="45" required="required"/>

                                            <span>*</span>

                                            <i class="form-input-box__icon">
                                                <img src="{{ theme_url_img }}/specifications/icons/form/diplomat-icon.svg" alt="organization"/>
                                            </i>
                                        </div>
                                    {% endif %}

                                    {% if wholesale_field_comments %}
                                        <div class="form-input-box">
                                            <input class="form-input-box__field" type="text" name="comments" placeholder="{{ wholesale_field_comments }}" minlength="10" maxlength="255"/>

                                            <i class="form-input-box__icon">
                                                <img src="{{ theme_url_img }}/specifications/icons/form/message-icon.svg" alt="comments">
                                            </i>
                                        </div>
                                    {% endif %}

                                    {% if wholesale_field_phone %}
                                        <div class="form-input-box">
                                            <input class="form-input-box__field" type="tel" name="phone" placeholder="{{ wholesale_field_phone }}" minlength="6" maxlength="15" required="required"/>

                                            <span>*</span>

                                            <i class="form-input-box__icon">
                                                <img src="{{ theme_url_img }}/specifications/icons/form/phone-icon.svg" alt="phone" data-type="tell">
                                            </i>
                                        </div>
                                    {% endif %}

                                    {% if wholesale_field_email %}
                                        <div class="form-input-box">
                                            <input class="form-input-box__field" type="email" name="email" placeholder="{{ wholesale_field_email }}" minlength="8" maxlength="35"/>

                                            <i class="form-input-box__icon">
                                                <img src="{{ theme_url_img }}/specifications/icons/form/postcard-icon.svg" alt="email">
                                            </i>
                                        </div>
                                    {% endif %}

                                    {% if wholesale_field_counts %}
                                        <div class="form-input-box">
                                            <input class="form-input-box__field" type="number" name="count" placeholder="{{ wholesale_field_counts }}" minlength="2" maxlength="10" required="required"/>

                                            <span>*</span>

                                            <i class="form-input-box__icon">
                                                <img src="{{ theme_url_img }}/specifications/icons/form/count-icon.svg" alt="count">
                                            </i>
                                        </div>
                                    {% endif %}

                                    <div class="form-input-box security">
                                        <input class="form-input-box__field" type="text" name="security" placeholder="Security" minlength="10" maxlength="75"/>
                                    </div>

                                    {% if wholesale_field_btn %}
                                        <button class="card-tabs-content__form-btn btn">{{ wholesale_field_btn }}</button>
                                    {% endif %}
                                </form>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <section class="card-tabs__section-sliders">
            {% if buying_products %}
                {{ buying_products }}
            {% endif %}

            {% if related_products %}
                {{ related_products }}
            {% endif %}
        </section>
    </div>
</section>
{{ footer }}
