{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-banner" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible">
      <i class="fa fa-exclamation-circle"></i>

      {{ error_warning }}

      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-banner" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <br />
          <ul class="nav nav-tabs" id="language">
            {% for language in languages %}
            <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
            {% endfor %}
          </ul>
          <div class="tab-content">
            {% set image_row = 0 %}
            {% for language in languages %}
            <div class="tab-pane" id="language{{ language.language_id }}">
              <table id="images{{ language.language_id }}" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left">{{ entry_title }}</td>
                    <td class="text-left">{{ entry_link }}</td>
                    <td class="text-center">{{ entry_image }}</td>
                    <td class="text-center">{{ entry_description }}</td>
                    <td class="text-right">{{ entry_sort_order }}</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  {% if banner_images[language.language_id] %}
                  {% for banner_image in banner_images[language.language_id] %}
                  <tr id="image-row{{ image_row }}">
                    <td class="text-left"><input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][title]" value="{{ banner_image.title }}" placeholder="{{ entry_title }}" class="form-control" />
                      {% if error_banner_title[language.language_id][image_row] %}
                        <div class="text-danger">{{ error_banner_title[language.language_id][image_row] }}</div>
                      {% endif %}
                    </td>

                    <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][link]" value="{{ banner_image.link }}" placeholder="{{ entry_link }}" class="form-control" /></td>
                    <td class="text-center"><a href="" id="thumb-image{{ image_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ banner_image.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                      <input type="hidden" name="banner_image[{{ language.language_id }}][{{ image_row }}][image]" value="{{ banner_image.image }}" id="input-image{{ image_row }}" />

                      {% if error_banner_image[language.language_id][image_row] %}
                        <div class="text-danger">{{ error_banner_image[language.language_id][image_row] }}</div>
                      {% endif %}
                    </td>

                    <td class="text-center">
                      <textarea name="banner_image[{{ language.language_id }}][{{ image_row }}][description]" placeholder="{{ entry_description }}" class="form-control">{% if banner_image.description %} {{ banner_image.description|trim }} {% endif %}</textarea>

                      {% if error_banner_description[language.language_id][image_row] %}
                        <div class="text-danger">{{ error_banner_description[language.language_id][image_row] }}</div>
                      {% endif %}
                    </td>

                    <td class="text-right" style="width: 10%;">
                      <input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][sort_order]" value="{{ banner_image.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control" />
                    </td>
                    <td class="text-left"><button type="button" onclick="$('#image-row{{ image_row }}, .tooltip, #image-row-2-{{ image_row }}, .tooltip, #image-row-3-{{ image_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                  </tr>

                  <tr id="image-row-2-{{ image_row }}">
                    <td class="text-left">{{ entry_price }}</td>
                    <td class="text-left">{{ entry_old_price }}</td>
                    <td class="text-center">{{ entry_link_inst }}</td>
                    <td class="text-center">{{ entry_link_fac }}</td>
                    <td class="text-center">{{ entry_link_ytb }}</td>
                    <td></td>
                  </tr>

                  <tr id="image-row-3-{{ image_row }}">
                    <td class="text-left">
                      <input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][price]" value="{{ banner_image.price }}" placeholder="{{ entry_price }}" class="form-control" />

                      {% if error_banner_price[language.language_id][image_row] %}
                        <div class="text-danger">{{ error_banner_price[language.language_id][image_row] }}</div>
                      {% endif %}
                    </td>

                    <td class="text-left" style="width: 30%;">
                      <input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][old_price]" value="{{ banner_image.old_price }}" placeholder="{{ entry_old_price }}" class="form-control" />
                    </td>

                    <td class="text-center" style="width: 30%;">
                      <input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][link_inst]" value="{{ banner_image.link_inst }}" placeholder="{{ entry_link_inst }}" class="form-control" />
                    </td>

                    <td class="text-center">
                      <input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][link_fac]" value="{{ banner_image.link_fac }}" placeholder="{{ entry_link_fac }}" class="form-control" />
                    </td>

                    <td class="text-center">
                      <input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][link_ytb]" value="{{ banner_image.link_ytb }}" placeholder="{{ entry_link_ytb }}" class="form-control" />
                    </td>

                    <td></td>
                  </tr>
                  {% set image_row = image_row + 1 %}
                  {% endfor %}
                  {% endif %}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4"></td>
                    <td colspan="1"></td>
                    <td class="text-left"><button type="button" onclick="addImage('{{ language.language_id }}');" data-toggle="tooltip" title="{{ button_banner_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
var image_row = {{ image_row }};

function addImage(language_id) {
	html  = '<tr id="image-row' + image_row + '">';
    html += '  <td class="text-left"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][title]" value="" placeholder="{{ entry_title }}" class="form-control" /></td>';	
	html += '  <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][link]" value="" placeholder="{{ entry_link }}" class="form-control" /></td>';	
	html += '  <td class="text-center"><a href="" id="thumb-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="banner_image[' + language_id + '][' + image_row + '][image]" value="" id="input-image' + image_row + '" /></td>';
	html += '  <td class="text-center"><textarea name="banner_image[' + language_id + '][' + image_row + '][description]" placeholder="{{ entry_description }}" class="form-control"></textarea></td>';
	html += '  <td class="text-right" style="width: 10%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
	html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row  + ', .tooltip, #image-row-2-' + image_row + ', #image-row-3-' + image_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';

    html += '<tr id="image-row-2-' + image_row + '">';
    html += '  <td class="text-left">{{ entry_price }}</td>';
    html += '  <td class="text-left">{{ entry_old_price }}</td>';
    html += '  <td class="text-center">{{ entry_link_inst }}</td>';
    html += '  <td class="text-center">{{ entry_link_fac }}</td>';
    html += '  <td class="text-center">{{ entry_link_ytb }}</td>';
    html += '  <td></td>';
    html += '</tr>';

    html += '<tr id="image-row-3-' + image_row + '">';
    html += '  <td class="text-left"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][price]" value=""  id="price" placeholder="{{ entry_price }}" class="form-control" /></td>';
    html += '  <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][old_price]" value=""  id="old_price" placeholder="{{ entry_old_price }}" class="form-control" /></td>';
    html += '  <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][link_inst]" value="" placeholder="{{ entry_link_inst }}" class="form-control" /></td>';
    html += '  <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][link_fac]" value="" placeholder="{{ entry_link_fac }}" class="form-control" /></td>';
    html += '  <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][link_ytb]" value="" placeholder="{{ entry_link_ytb }}" class="form-control" /></td>';
    html += '  <td></td>';
    html += '</tr>';
	
	$('#images' + language_id + ' tbody').append(html);
	
	image_row++;
}
//--></script> 
  <script type="text/javascript"><!--
$('#language a:first').tab('show');

$('')
//--></script> 
</div>
{{ footer }} 