{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-links" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-links" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ link_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if link_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <br />
          <ul class="nav nav-tabs" id="language">
            {% for language in languages %}
            <li><a href="#language{{ language.language_id }}" data-toggle="tab">
                <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
            {% endfor %}
          </ul>
          <div class="tab-content">
            {% set link_row = 0 %}
            {% for language in languages %}
            <div class="tab-pane" id="language{{ language.language_id }}">
              <table id="images{{ language.language_id }}" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left">{{ entry_title }}</td>
                    <td class="text-left">{{ entry_link }}</td>
                    <td class="text-center">{{ entry_header }}</td>
                    <td class="text-right">{{ entry_footer }}</td>
                    <td class="text-right">{{ entry_inner_submenu }}</td>
                    <td></td>
                  </tr>
                </thead>

                <tbody>
                  {% if links[language.language_id] %}
                  {% for link in links[language.language_id] %}
                  <tr id="image-row{{ link_row }}">
                    <td class="text-left">
                      <input type="text" name="link[{{ language.language_id }}][{{ link_row }}][title]" value="{{ link.title }}" placeholder="{{ entry_title }}" class="form-control" />
                      {% if error_banner_image[language.language_id][link_row] %}
                      <div class="text-danger">{{ error_banner_image[language.language_id][link_row] }}</div>
                      {% endif %}
                    </td>

                    <td class="text-left" style="width: 30%;">
                      <input type="text" name="link[{{ language.language_id }}][{{ link_row }}][link]" value="{{ link.link }}" placeholder="{{ entry_link }}" class="form-control" />
                    </td>

                    <td class="text-center">
                      <select name="link[{{ language.language_id }}][{{ link_row }}][header_status]" id="input-header-status-{{ link_row }}" class="form-control">
                        {% if link.header_status %}
                          <option value="1" selected="selected">{{ text_enabled }}</option>
                          <option value="0">{{ text_disabled }}</option>
                        {% else %}
                          <option value="1">{{ text_enabled }}</option>
                          <option value="0" selected="selected">{{ text_disabled }}</option>
                        {% endif %}
                      </select>
                    </td>

                    <td class="text-center" style="width: 10%;">
                      <select name="link[{{ language.language_id }}][{{ link_row }}][footer_status]" id="input-footer-status-{{ link_row }}" class="form-control">
                        {% if link.footer_status %}
                          <option value="1" selected="selected">{{ text_enabled }}</option>
                          <option value="0">{{ text_disabled }}</option>
                        {% else %}
                          <option value="1">{{ text_enabled }}</option>
                          <option value="0" selected="selected">{{ text_disabled }}</option>
                        {% endif %}
                      </select>
                    </td>

                    <td class="text-center" style="width: 10%;">
                      <select name="link[{{ language.language_id }}][{{ link_row }}][render_submenu_status]" id="input-render-submenu-status-{{ link_row }}" class="form-control">
                        {% if link.render_submenu_status %}
                          <option value="1" selected="selected">{{ text_enabled }}</option>
                          <option value="0">{{ text_disabled }}</option>
                        {% else %}
                          <option value="1">{{ text_enabled }}</option>
                          <option value="0" selected="selected">{{ text_disabled }}</option>
                        {% endif %}
                      </select>
                    </td>

                    <td class="text-left">
                      <button type="button" onclick="$('#image-row{{ link_row }}, .tooltip, #image-row-2-{{ link_row }}, #image-row-3-{{ link_row }}').remove(); checkFields();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
                    </td>
                  </tr>
                  {% set link_row = link_row + 1 %}
                  {% endfor %}
                  {% endif %}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5"></td>
                    <td class="text-left"><button type="button" onclick="addImage('{{ language.language_id }}'); checkFields();" data-toggle="tooltip" title="{{ button_banner_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
var link_row = {{ link_row }};

function addImage(language_id) {
	html  = '<tr id="image-row' + link_row + '">';
    html += '  <td class="text-left"><input type="text" name="link[' + language_id + '][' + link_row + '][title]" value="" placeholder="{{ entry_title }}" class="form-control" /></td>';
	html += '  <td class="text-left" style="width: 30%;"><input type="text" name="link[' + language_id + '][' + link_row + '][link]" value="" placeholder="{{ entry_link }}" class="form-control" /></td>';

	html += '  <td class="text-center">';
    html += '   <select name="link[' + language_id + '][' + link_row + '][header_status]" id=`"input-header-status- + link_row +"` class="form-control">';
    html += '       <option value="1">{{ text_enabled }}</option>';
    html += '       <option value="0" selected="selected">{{ text_disabled }}</option>';
    html += '    </select>';
    html += '  </td>';

    html += '  <td class="text-center">';
    html += '    <select name="link[' + language_id + '][' + link_row + '][footer_status]" id=`"input-footer-status- + link_row + "` class="form-control">';
    html += '       <option value="1">{{ text_enabled }}</option>';
    html += '       <option value="0" selected="selected">{{ text_disabled }}</option>';
    html += '    </select>';
    html += '  </td>';

    html += '  <td class="text-center">';
    html += '    <select name="link[' + language_id + '][' + link_row + '][render_submenu_status]" id=`"input-render-submenu-status- + link_row + "` class="form-control">';
    html += '       <option value="1">{{ text_enabled }}</option>';
    html += '       <option value="0" selected="selected">{{ text_disabled }}</option>';
    html += '    </select>';
    html += '  </td>';

    html += '  <td>';
    html += '    <button type="button" onclick="$(\'#image-row{{ link_row }}, .tooltip, #image-row-2-{{ link_row }}, #image-row-3-{{ link_row }}\').remove(); checkFields();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>';
    html += '  </td>';
	html += '</tr>';

{#    html += '<tr id="image-row-2-' + link_row + '">';#}
{#    html += '  <td class="text-left">{{ entry_price }}</td>';#}
{#    html += '  <td class="text-left">{{ entry_old_price }}</td>';#}
{#    html += '  <td class="text-center">{{ entry_link_inst }}</td>';#}
{#    html += '  <td class="text-center">{{ entry_link_fac }}</td>';#}
{#    html += '  <td class="text-center">{{ entry_link_ytb }}</td>';#}
{#    html += '  <td></td>';#}
{#    html += '</tr>';#}

{#    html += '<tr id="image-row-3-' + link_row + '">';#}
{#    html += '  <td class="text-left"><input type="text" name="banner_image[' + language_id + '][' + link_row + '][price]" value=""  id="price" placeholder="{{ entry_price }}" class="form-control" /></td>';#}
{#    html += '  <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[' + language_id + '][' + link_row + '][old_price]" value=""  id="old_price" placeholder="{{ entry_old_price }}" class="form-control" /></td>';#}
{#    html += '  <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[' + language_id + '][' + link_row + '][link_inst]" value="" placeholder="{{ entry_link_inst }}" class="form-control" /></td>';#}
{#    html += '  <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[' + language_id + '][' + link_row + '][link_fac]" value="" placeholder="{{ entry_link_fac }}" class="form-control" /></td>';#}
{#    html += '  <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[' + language_id + '][' + link_row + '][link_ytb]" value="" placeholder="{{ entry_link_ytb }}" class="form-control" /></td>';#}
{#    html += '  <td></td>';#}
{#    html += '</tr>';#}

	$('#images' + language_id + ' tbody').append(html);

	link_row++;
}

checkFields();

function checkFields() {
  $('tfoot').each(function () {
    if ($(this).prev().children().length > 0) {
      $(this).find('button[type="button"]').hide();
    } else $(this).find('button[type="button"]').show();
  });
}

//--></script> 
  <script type="text/javascript"><!--
$('#language a:first').tab('show');

$('')
//--></script> 
</div>
{{ footer }} 