<nav id="column-left">
  <div id="navigation"><span class="fa fa-bars"></span> {{ text_navigation }}</div>
  <ul id="menu">
    {% set i = 0 %}
    {% for menu in menus %}
    <li id="{{ menu.id }}">{% if menu.href %}<a href="{{ menu.href }}"><i class="fa {{ menu.icon }} fw"></i> {{ menu.name }}</a>{% else %}<a href="#collapse{{ i }}" data-toggle="collapse" class="parent collapsed" {% if menu.not_view > 0 %}data-not-view="true"{% endif %}><i class="fa {{ menu.icon }} fw"></i> {{ menu.name }}</a>{% endif %}
        {% if menu.children %}
          <ul id="collapse{{ i }}" class="collapse">
            {% set j = 0 %}
            {% for children_1 in menu.children %}
              <li>{% if children_1.href %}
                  <a href="{{ children_1.href }}">{{ children_1.name }}{% if children_1.not_view > 0 %}<span>{{ children_1.not_view }}</span>{% endif %}</a>
                {% else %}
                  <a href="#collapse{{ i }}-{{ j }}" data-toggle="collapse" class="parent collapsed">{{ children_1.name }}</a>
                {% endif %}
                {% if children_1.children %}
                  <ul id="collapse{{ i }}-{{ j }}" class="collapse">
                    {% set k = 0 %}
                    {% for children_2 in children_1.children %}
                      <li>{% if children_2.href %}
                          <a href="{{ children_2.href }}">{{ children_2.name }}</a>
                          <a href="#collapse-{{ i }}-{{ j }}-{{ k }}" data-toggle="collapse" class="parent collapsed">{{ children_2.name }}</a>
                        {% endif %}
                        {% if children_2.children %}
                          <ul id="collapse-{{ i }}-{{ j }}-{{ k }}" class="collapse">
                            {% for children_3 in children_2.children %}
                              <li><a href="{{ children_3.href }}">{{ children_3.name }}</a></li>
                            {% endfor %}
                          </ul>
                        {% endif %}</li>
                      {% set k = k + 1 %}
                    {% endfor %}
                  </ul>
                {% endif %} </li>
              {% set j = j + 1 %}
            {% endfor %}
          </ul>
        {% endif %}

      </li>
    {% set i = i + 1 %}
    {% endfor %}
  </ul>
  <div id="stats">
    <ul>
      <li>
        <div>{{ text_complete_status }} <span class="pull-right">{{ complete_status }}%</span></div>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ complete_status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ complete_status }}%"> <span class="sr-only">{{ complete_status }}%</span></div>
        </div>
      </li>
      <li>
        <div>{{ text_processing_status }} <span class="pull-right">{{ processing_status }}%</span></div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ processing_status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ processing_status }}%"> <span class="sr-only">{{ processing_status }}%</span></div>
        </div>
      </li>
      <li>
        <div>{{ text_other_status }} <span class="pull-right">{{ other_status }}%</span></div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ other_status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ other_status }}%"> <span class="sr-only">{{ other_status }}%</span></div>
        </div>
      </li>
    </ul>
  </div>
</nav>
