{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-banner" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ text_form }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-banner" class="form-horizontal">
                        <br />
                        <ul class="nav nav-tabs" id="language">
                            <li><a href="#language1" data-toggle="tab">{% if title_web_agency %}{% if logo_web_agency and logo_web_agency_alt %}<img src="{{ logo_web_agency }}" title="{{ logo_web_agency_alt }}" />{% endif %} {{ title_web_agency }}</a>{% else %}</a>{% endif %}</li>
                        </ul>
                    <div class="tab-content">
                        {% set image_row = 0 %}

                        {% if data_select %}
                            {% set links_select = data_select %}
                        {% else %}
                            {% set links_select = '' %}
                        {% endif %}

                        <div class="tab-pane" id="language1">
                            <table id="images{{ language.language_id }}" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td class="text-left">{{ entry_title }}</td>
                                        <td class="text-center">{{ entry_image }}</td>
                                        <td class="text-right">{{ entry_sort_order }}</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if filter_links.active %}
                                    {% for filter in filter_links.active %}
                                        <tr id="image-row{{ image_row }}">
                                            <td class="text-left">
                                                <select name="filter_links[{{ image_row }}][filter_id]" id="input-attribute-group-id{{ image_row }}" class="form-control">
                                                    {% for select in filter_links.selects %}
                                                        {% if select.title and select.filter_id %}
                                                            <option value="{{ select.filter_id }}" {% if select.title == filter.title %}selected="selected"{% endif %}>{{ select.title }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>

                                            <td class="text-center">
                                                <a href="" id="thumb-image{{ image_row }}" data-toggle="image" class="img-thumbnail">
                                                    <img src="{{ filter.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" />
                                                </a>

                                                <input type="hidden" name="filter_links[{{ image_row }}][image]" value="{{ filter.image }}" id="input-image{{ image_row }}" />

                                                {% if error_filter_image[image_row] %}
                                                    <div class="text-danger">{{ error_filter_image[image_row] }}</div>
                                                {% endif %}
                                            </td>

                                            <td class="text-right" style="width: 10%;">
                                                <input type="text" name="filter_links[{{ image_row }}][sort_order]" value="{{ filter.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control" />
                                            </td>

                                            <td class="text-left"><button type="button" onclick="$('#image-row{{ image_row }}, .tooltip').remove(); checkFields();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                                        </tr>
                                        {% set image_row = image_row + 1 %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td colspan="1"></td>
                                        <td class="text-left"><button type="button" onclick="addRow(); checkFields();" data-toggle="tooltip" title="{{ button_banner_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript"><!--
        var image_row             = {{ image_row }},
            data_select           = ({{ links_select }}) ? {{links_select}} : [],
            html_link_select      = '',
            html_selected_option  = '',
            step_generate_options = 1;


        function addRow() {
            html_link_select += '<select name="filter_links[' + image_row + '][filter_id]" id="input-attribute-group-id' + image_row + '" class="form-control">';

            if (data_select.length) {
                for (let select_item of data_select) {
                    if (step_generate_options === 1) html_selected_option = 'selected="selected"';

                    html_link_select += '<option value="' + select_item.filter_id + '" ' + html_selected_option + '>' + select_item.title + '</option>';

                    html_selected_option = '';
                    ++step_generate_options;
                }
            }

            html_link_select += '</select>';


            html  = '<tr id="image-row' + image_row + '">';
            html += '  <td class="text-left">' + html_link_select + '</td>';
            html += '  <td class="text-center">' +
                    '    <a href="" id="thumb-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="filter_links[' + image_row + '][image]" value="" id="input-image' + image_row + '" />' +
                    '  </td>';
            html += '  <td class="text-right" style="width: 10%;"><input type="text" name="filter_links[' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
            html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row  + ', .tooltip\').remove(); checkFields();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#images tbody').append(html);

            image_row++;
            html_link_select = '';
        }
        //--></script>
        <script type="text/javascript"><!--
        checkFields();

        function checkFields() {
            $('tfoot').each(function () {
                if ($(this).prev().children().length > 5) {
                    $(this).find('button[type="button"]').hide();
                } else $(this).find('button[type="button"]').show();
            });
        }

        $('#language a:first').tab('show');
        //--></script>
</div>
{{ footer }}