{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-banner" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ text_form }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-banner" class="form-horizontal">
                        <br />
                    
                        <ul class="nav nav-tabs" id="language">
                            {% for language in languages %}
                                <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                            {% endfor %}
                        </ul>
                    <div class="tab-content">
                        {% set image_row = 0 %}
                        {% for language in languages %}
                            <div class="tab-pane" id="language{{ language.language_id }}">
                                <table id="images{{ language.language_id }}" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td class="text-left">{{ entry_title }}</td>
                                            <td class="text-center">{{ entry_icon }}</td>
                                            <td class="text-right">{{ entry_sort_order }}</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if priority_items[language.language_id] %}
                                        {% for priority in priority_items[language.language_id] %}
                                            <tr id="image-row{{ image_row }}">
                                                <td class="text-left">
                                                    <input type="text" name="priority_item[{{ language.language_id }}][{{ image_row }}][title]" value="{{ priority.title }}" placeholder="{{ entry_title }}" class="form-control" />

                                                    {% if error_priority_title[language.language_id][image_row] %}
                                                        <div class="text-danger">{{ error_priority_title[language.language_id][image_row] }}</div>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">
                                                    <a href="" id="thumb-image{{ image_row }}" data-toggle="image" class="img-thumbnail">
                                                        <img src="{{ priority.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" />
                                                    </a>

                                                    <input type="hidden" name="priority_item[{{ language.language_id }}][{{ image_row }}][icon]" value="{{ priority.icon }}" id="input-image{{ image_row }}" />

                                                    {% if error_priority_icon[language.language_id][image_row] %}
                                                        <div class="text-danger">{{ error_priority_icon[language.language_id][image_row] }}</div>
                                                    {% endif %}
                                                </td>

                                                <td class="text-right" style="width: 10%;">
                                                    <input type="text" name="priority_item[{{ language.language_id }}][{{ image_row }}][sort_order]" value="{{ priority.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control" />

                                                    {% if error_priority_sort_order[language.language_id][image_row] %}
                                                        <div class="text-danger">{{ error_priority_sort_order[language.language_id][image_row] }}</div>
                                                    {% endif %}
                                                </td>

                                                <td class="text-left"><button type="button" onclick="$('#image-row{{ image_row }}, .tooltip').remove(); checkFields();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                                            </tr>
                                            {% set image_row = image_row + 1 %}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="1"></td>
                                            <td class="text-left"><button type="button" onclick="addRow('{{ language.language_id }}'); checkFields();" data-toggle="tooltip" title="{{ button_banner_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript"><!--
        var image_row = {{ image_row }};

        function addRow(language_id) {
            html  = '<tr id="image-row' + image_row + '">';
            html += '  <td class="text-left"><input type="text" name="priority_item[' + language_id + '][' + image_row + '][title]" value="" placeholder="{{ entry_title }}" class="form-control" /></td>';
            html += '  <td class="text-center"><a href="" id="thumb-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="priority_item[' + language_id + '][' + image_row + '][icon]" value="" id="input-image' + image_row + '" /></td>';
            html += '  <td class="text-right" style="width: 10%;"><input type="text" name="priority_item[' + language_id + '][' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
            html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row  + ', .tooltip\').remove(); checkFields();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#images' + language_id + ' tbody').append(html);

            image_row++;
        }
        //--></script>
    <script type="text/javascript"><!--
        checkFields();

        function checkFields() {
            $('tfoot').each(function () {
                if ($(this).prev().children().length > 3) {
                    $(this).find('button[type="button"]').hide();
                } else $(this).find('button[type="button"]').show();
            });
        }

        $('#language a:first').tab('show');

        $('')
        //--></script>
</div>
{{ footer }}